<template>
  <v-container>
    <v-switch
      v-model="isServiceConsumer"
      inset
      label="xidmət ver"
      @change="setUserAsServiceProvider()"
      :disabled="loading"
      :loading="loading"
    ></v-switch>
    <v-card
      class="mx-auto"
      max-width="600"
      :loading="loading"
      v-if="isServiceConsumer"
      color="grey lighten-3"
    >
      <div class="text-center">
        <v-scale-transition group>
          <v-chip
            v-for="node in customServices"
            :key="node.service.id"
            class="ma-2"
            close
            @click:close="removeCustomService(node.id)"
            small
            color="indigo darken-3"
            outlined
          >{{node.service.name}}</v-chip>
        </v-scale-transition>
      </div>
    </v-card>
    <v-card class="mx-auto ma-2" max-width="600" flat>
      <v-text-field
        v-model="search"
        label="Xidmət axtar"
        solo
        hide-details
        prepend-inner-icon="mdi-magnify"
        max-width="600"
      ></v-text-field>
    </v-card>
    <v-card
      class="mx-auto pt-5"
      max-width="600"
      :loading="loading"
      v-if="isServiceConsumer"
      color="grey lighten-3"
    >
      <v-scroll-y-transition hide-on-leave>
        <v-card class="mx-5 pa-5 mb-5" elevation="10" v-if="sendRequestCard">
          <v-btn fab small @click="sendRequestCard = false" class="float-right" text>
            <v-icon class="red--text">mdi-close-circle-outline</v-icon>
          </v-btn>
          <v-card-text>Əlavə etmək istədiyiniz xidmət üçün istək göndərin</v-card-text>
          <v-form>
            <v-text-field
              v-model="suggestedServiceName"
              label="Xidmət adı"
              value="Plans for the weekend"
              single-line
              full-width
              hide-details
            ></v-text-field>
            <v-divider></v-divider>
            <v-textarea
              v-model="suggestedServiceDescription"
              label="Xidmət haqqında qısa məlumat"
              counter
              maxlength="120"
              full-width
              single-line
            ></v-textarea>
            <v-btn fab small @click="sendServiceRequest()" text>
              <v-icon>mdi-send</v-icon>
            </v-btn>
          </v-form>
        </v-card>
      </v-scroll-y-transition>
      <v-scroll-y-transition hide-on-leave>
        <v-card-text v-if="!sendRequestCard" @click="sendRequestCard = true">
          <a>Axtardığınız xidmət siyahıda yoxdur?</a>
        </v-card-text>
      </v-scroll-y-transition>
      <v-treeview
        v-model="selection"
        :items="services"
        activatable
        return-object
        open-all
        :search="search"
      >
        <template v-slot:prepend="{ item, open, active }">
          <v-icon>{{item.icon}}</v-icon>
        </template>
        <template v-slot:append="{ item, open, active }">
          <v-icon v-if="active && item.children.length == 0" @click="openDialog(item)">mdi-plus</v-icon>
        </template>
      </v-treeview>
    </v-card>
    <div class="text-center">
      <v-dialog v-model="dialog" width="500" persistent>
        <v-card>
          <v-btn fab small @click="dialog = false" class="float-right ma-3" text>
            <v-icon class="red--text">mdi-close-circle-outline</v-icon>
          </v-btn>
          <br />
          <form class="pa-5">
            <v-scroll-x-transition hide-on-leave>
              <v-text-field
                v-if="!agreement"
                v-model="price"
                type="number"
                class="ma-5 mb-0"
                shaped
                :error-messages="priceErrors"
                label="Qiymət daxil edin"
                required
                outlined
                @input="$v.price.$touch()"
                @blur="$v.price.$touch()"
              ></v-text-field>
            </v-scroll-x-transition>
            <v-checkbox
              v-model="agreement"
              hide-details
              style="margin-top: -20px"
              class="float-left ml-5"
              label="Qiymət razılaşma yolu ilə"
            ></v-checkbox>
            <v-text-field
              v-model="duration"
              type="number"
              class="ma-5 mt-10"
              shaped
              :error-messages="durationErrors"
              label="Zaman daxil edin"
              required
              outlined
              @input="$v.duration.$touch()"
              @blur="$v.duration.$touch()"
            ></v-text-field>
            <v-textarea
              v-model="myDescription"
              solo
              clearable
              label="Xidmət haqqında"
              auto-grow
              outlined
              rows="3"
              row-height="25"
              shaped
            ></v-textarea>
            <v-checkbox
              v-model="showInSearch"
              label="Bütün axtarışlarda göstər"
              hide-details
              class="float-left"
            ></v-checkbox>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-icon color="primary" dark v-on="on" class="ml-5 mt-5">mdi-information-outline</v-icon>
              </template>
              <span>Seçilmədiyi təqdirdə ancaq şirkətlərin dəvət axtarışında görünəcək</span>
            </v-tooltip>
          </form>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :loading="loading" color="primary" text @click="assignServices()">Əlavə et</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackbarColor">
      {{responseText}}
      <v-btn color="white" text @click="snackbar = false">X</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minValue } from "vuelidate/lib/validators";

import { APIService } from "@/APIService";

const apiService = new APIService();
import { mapActions } from "vuex";

export default {
  mixins: [validationMixin],

  validations: {
    price: { required, minValue: minValue(0) },
    duration: { required, minValue: minValue(0) }
  },
  data: () => ({
    showInSearch: true,
    agreement: false,
    sendRequestCard: false,
    suggestedServiceName: "",
    suggestedServiceDescription: "",
    isServiceConsumer: false,
    snackbar: false,
    snackbarColor: "green",
    responseText: "Xəta baş verdi",
    myDescription: "my description ...",
    price: 0.0,
    duration: 0,
    timeout: 6000,
    selectedItem: {},
    dialog: false,
    loading: true,
    search: null,
    selectionType: "leaf",
    selection: [],
    services: [],
    customServices: []
  }),
  methods: {
    ...mapActions(["updateMainTitle"]),
    getCustomServices() {
      apiService
        .getCustomServices(JSON.parse(localStorage.getItem("user")).id, true)
        .then(response => {
          this.customServices = response.customServices;
        })
        .catch(() => {});
    },
    setUserAsServiceProvider() {
      this.loading = true;
      if (this.isServiceConsumer) this.assignRole();
      else this.removeRole();
    },
    assignRole() {
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .assignRole(
          {
            id: 2
          },
          userId
        )
        .then(() => {
          this.responseText = "Siz artıq xidmət verirsiniz";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    removeRole() {
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .removeRole(userId, 2)
        .then(() => {
          this.responseText = "Xidmət vermə statusunuz ləğv edildi";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    removeCustomService(customSeviceId) {
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .removeCustomService(userId, customSeviceId)
        .then(() => {
          this.responseText = "Xidmət müvəffəqiyyətlə silindi";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
          this.getCustomServices();
        })
        .catch(() => {
          this.loading = false;
        });
    },
    assignServices() {
      // if()
      var userId = JSON.parse(localStorage.getItem("user")).id;
      this.loading = true;
      if (this.agreement) this.price = "";
      apiService
        .assignServices(
          [
            {
              service: {
                id: this.selectedItem.id
              },
              company: {
                id: null
              },
              showInSearch: this.showInSearch,
              price: this.price,
              duration: this.duration,
              description: this.myDescription
            }
          ],
          userId
        )
        .then(() => {
          this.responseText = "Xidmət müvəffəqiyyətlə əlavə olundu";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
          this.dialog = false;
          this.getCustomServices();
        })
        .catch(() => {
          this.loading = false;
        });
    },
    sendServiceRequest() {
      // if()
      var userId = JSON.parse(localStorage.getItem("user")).id;
      this.loading = true;
      if (this.agreement) this.price = "";
      apiService
        .sendServiceRequest(
          {
            name: this.suggestedServiceName,
            description: this.suggestedServiceDescription,

            requestedUser: {
              id: userId
            }
          },
          userId
        )
        .then(() => {
          this.responseText =
            "İstek ugurla gonderildi, size qebu ve ya redd barede melumat verilecek";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
          this.sendRequestCard = false;
        })
        .catch(() => {});
    },
    isContain(item) {
      var contain = false;
      this.customServices.forEach(element => {
        if (element.service.id == item.id) contain = true;
      });
      return contain;
    },
    openDialog(item) {
      this.price = 0;
      this.duration = 0;
      if (this.isContain(item)) {
        this.snackbarColor = "red";
        this.responseText = "Bu xidmət artıq seçilib";
        this.snackbar = true;
      } else {
        this.myDescription = item.description;
        this.selectedItem = item;
        this.dialog = true;
      }
    }
  },
  computed: {
    priceErrors() {
      const errors = [];
      if (!this.$v.price.$dirty) return errors;
      !this.$v.price.required && errors.push("Price is required.");
      !this.$v.price.minValue &&
        errors.push("Qiymət sıfırdan böyük olmalıdır.");
      return errors;
    },
    durationErrors() {
      const errors = [];
      if (!this.$v.duration.$dirty) return errors;
      !this.$v.duration.required && errors.push("Duration is required.");
      !this.$v.duration.minValue &&
        errors.push("Duration sıfırdan böyük olmalıdır.");
      return errors;
    },
    formIsValid() {
      return (
        this.price >= 0 &&
        this.price != "" &&
        this.duration >= 0 &&
        this.duration != ""
      );
    }
  },
  mounted() {
    this.updateMainTitle("Xidmət ver");
    apiService
      .getUserData(JSON.parse(localStorage.getItem("user")).id)
      .then(response => {
        response.data.user.roles.forEach(element => {
          if (element.name == "SERVICE_PROVIDER") this.isServiceConsumer = true;
        });
      });

    apiService
      .getServices()
      .then(response => {
        this.services = response;
        this.loading = false;
      })
      .catch(() => {});

    this.getCustomServices();
  }
};
</script>