<template>
  <v-container>
    <h1>{{user}}</h1>
  </v-container>
</template>

<script>
  import { APIService } from '@/APIService';

  const apiService = new APIService();

  export default {
    data: () => ({
      user: ""
    }),
    computed: {

    },
    methods: {

      getUserData(id) {
        apiService.getUserData(id).then((data) => {
          this.user = data;
        });
      },
    },

    mounted() {
      this.getUserData(4);
    },
  };
</script>