<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card class="ma-3" :loading="loading2">
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-subtitle>Booking istəkləri</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-for="request in pendingBookingRequests" :key="request.id">
              <v-list-item-content>
                <!-- <v-list-item-subtitle>Göndərən: {{request.customer.name}} {{request.customer.surname}} </v-list-item-subtitle>-->
                <v-list-item-subtitle>{{request.customer.name}} {{request.customer.surname}}</v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-contact-phone</v-icon>
                  {{request.customer.phoneNumber}}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-mail</v-icon>
                  {{request.customer.email}}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-clock-start</v-icon>
                  {{request.bookingPeriod.start}}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-clock-end</v-icon>
                  {{request.bookingPeriod.end}}
                </v-list-item-subtitle>
                <div class="text-center">
                  <v-chip
                    class="ma-1"
                    :key="i.id"
                    x-small
                    v-for="i in request.customServices"
                  >{{i.service.name}}</v-chip>
                </div>
                <div class="text-center">
                  <v-btn
                    class="ma-2"
                    text
                    icon
                    color="green lighten-2"
                    @click="acceptBookingRequest(request.id)"
                  >
                    <v-icon>mdi-check</v-icon>
                  </v-btn>
                  <v-btn
                    class="ma-2"
                    text
                    icon
                    color="red lighten-2"
                    @click="showDialog(request.id)"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </div>
                <v-divider></v-divider>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card class="ma-3" :loading="loading1">
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-subtitle>Rədd edilmiş istəklər</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-for="i in rejectedRequests" :key="i.id">
              <v-list-item-content>
                <v-list-item-subtitle>{{ i.customer.name}} {{ i.customer.surname}}</v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-mail</v-icon>
                  {{ i.customer.email}}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-message</v-icon>
                  {{ i.message}}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-text-field
          v-model="rejectMessage"
          label="Rədd səbəbini yazın"
          class="pa-5"
          filled
          shaped
        ></v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="rejectMessage.length > 0"
            color="green darken-1"
            text
            @click="rejectBookingRequest(rejectId)"
          >Gonder</v-btn>
          <v-btn text @click="dialog = false">Bagla</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapActions } from "vuex";

export default {
  data() {
    return {
      pendingBookingRequests: [],
      rejectedRequests: [],
      dialog: false,
      rejectMessage: "",
      rejectId: "",
      loading1: false,
      loading2: false
    };
  },
  mounted() {
    this.updateMainTitle("Bildirimlər");
    this.getPendingBookingRequestsByWorkerId();
    this.getRejectedRequests();
  },
  methods: {
    ...mapActions(["updateMainTitle"]),
    getPendingBookingRequestsByWorkerId() {
      this.loading2 = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getPendingBookingRequestsByWorkerId(userId)
        .then(response => {
          this.pendingBookingRequests = response.data.data;
          this.loading2 = false;
        })
        .catch(() => {
          this.loading2 = false;
        });
    },
    getRejectedRequests() {
      this.loading1 = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getRejectedRequests(userId)
        .then(response => {
          this.rejectedRequests = response.data.data;
          this.loading1 = false;
        })
        .catch(() => {
          this.loading1 = false;
        });
    },
    acceptBookingRequest(id) {
      apiService
        .acceptBookingRequest(id)
        .then((response) => {
          this.getPendingBookingRequestsByWorkerId();
          console.log(JSON.stringify(response));
        })
        .catch((error) => {
          console.log(JSON.stringify(error.response));
        });
    },
    rejectBookingRequest(id) {
      apiService
        .rejectBookingRequest(id, {
          message: this.rejectMessage
        })
        .then(response => {
          this.getPendingBookingRequestsByWorkerId();
          this.dialog = false;
          console.log(JSON.stringify(response));
        })
        .catch(error => {
          console.log(JSON.stringify(error.response));
        });
    },
    showDialog(id) {
      (this.dialog = true), (this.rejectId = id);
    }
  }
};
</script>