<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card mt-5 class="mx-auto pa-2" max-width="600" :loading="loading">
        <span class="d-block text-truncate blue--text mb-3">{{company.name}}</span>
        <span class="d-block text-truncate">
          <v-icon small>mdi-contact-mail</v-icon>
          {{company.email}}
        </span>
        <span class="d-block text-truncate">
          <v-icon small>mdi-contact-phone</v-icon>
          {{company.phoneNumber}}
        </span>
        <span class="d-block text-truncate">
          <v-icon small>mdi-map-marker</v-icon>
          {{address}}
        </span>
        <span class="d-block text-truncate">
          <v-icon small>mdi-information</v-icon>
          {{company.description}}
        </span>
        <v-row no-gutters>
          <v-col>
            <v-card class="overflow-y-auto my-5" style="overflow: hidden;" max-height="400">
              <v-list three-line>
                <template v-for="(employe) in employees">
                  <v-list-item :key="employe.name">
                    <v-list-item-avatar color="indigo">
                      <v-icon dark>mdi-account-circle</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>{{employe.name}} {{employe.surname}}</v-list-item-title>
                      <v-list-item-subtitle>
                        <v-icon small>mdi-contact-phone</v-icon>
                        {{employe.phoneNumber}}
                      </v-list-item-subtitle>
                      <v-list-item-subtitle>
                        <v-icon small>mdi-contact-mail</v-icon>
                        {{employe.email}}
                      </v-list-item-subtitle>
                      <v-list-item-subtitle>
                        <v-icon small>mdi-calendar-account</v-icon>
                        {{employe.birthDate}}
                      </v-list-item-subtitle>
                    </v-list-item-content>
                    <v-icon
                      @click="removeWorkerFromCompany(employe.id, company.id)"
                      class="mr-5"
                    >mdi-delete</v-icon>
                    <v-icon @click="setWorkerCalendar(employe.id)">mdi-calendar</v-icon>
                  </v-list-item>
                </template>
              </v-list>
            </v-card>
            <router-link
              :to="{name: 'SendInvitation', params: { id: $route.params.id}}"
            >Yeni işçi devet et</router-link>
          </v-col>
        </v-row>
      </v-card>

      <v-dialog v-model="showWorkerCalendarDialog">
        <!-- <v-btn @click="showWorkerCalendarDialog = false">Bağla</v-btn> -->
        <v-btn
          fixed
          elevation="0"
          x-small
          fab
          right
          top
          @click="showWorkerCalendarDialog = false"
          class="mt-6 mr-8"
        >
          <v-icon class="red--text">mdi-close</v-icon>
        </v-btn>
        <WorkerCalendar v-if="showWorkerCalendar"></WorkerCalendar>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import WorkerCalendar from "@/views/Calendars/WorkerCalendar.vue";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    WorkerCalendar
  },
  data() {
    return {
      loading: true,
      showWorkerCalendar: false,
      showWorkerCalendarDialog: false,
      worker: {},
      address: "",
      company: {},
      employees: {}
    };
  },
  methods: {
    ...mapActions(["updateWorkerCalendarWorkerId"]),
    setWorkerCalendar(id) {
      this.showWorkerCalendarDialog = true;
      this.showWorkerCalendar = false;
      this.updateWorkerCalendarWorkerId(id);
      window.setInterval(() => {
        this.showWorkerCalendar = true;
      }, 500);
    },
    removeWorkerFromCompany(userId, companyId) {
      apiService
        .removeWorkerFromCompany(userId, companyId)
        .then(() => {})
        .catch(() => {});
    }
  },
  mounted() {
    apiService
      .getCompanyById(this.$route.params.id)
      .then(response => {
        this.company = response.data.company;
        this.address = response.data.company.location.address;
        this.loading = false;
      })
      .catch(() => {});

    apiService
      .getEmployeesByCompanyId(this.$route.params.id)
      .then(response => {
        this.employees = response.employees;
      })
      .catch(() => {});
  },
  computed: {
    ...mapState(["workerCalendarWorkerId"])
  }
};
</script>