<template>
  <v-container>
    <v-card class="mx-auto" max-width="600" :loading="loading">
      <v-sheet class="pa-4" color="#2196f3">
        <v-text-field
          v-model="search"
          label="Şirkət axtar"
          dark
          flat
          solo-inverted
          hide-details
          clearable
          clear-icon="mdi-close-circle-outline"
        ></v-text-field>
      </v-sheet>
      <v-layout row wrap>
        <v-flex xs12 sm6>
          <v-card-text class="pa-3">
            <v-btn
              @click="setCreateCompanyDialogBox(null)"
              block
              color="#00bcd4"
              class="white--text body-2"
            >Şirkət əlavə et</v-btn>
            <v-treeview
              transition
              dense
              :active.sync="active"
              activatable
              v-model="selection"
              return-object
              :items="companies"
              :search="search"
              :filter="filter"
              :open.sync="open"
            >
              <template v-slot:prepend="{ item, open, active }">
                <v-icon>mdi-office-building</v-icon>
              </template>
            </v-treeview>
          </v-card-text>
        </v-flex>
        <v-flex xs12 sm6 d-flex text-center>
          <v-slide-y-transition hide-on-leave>
            <v-card-text v-if="active[0]">
              <v-list-item-avatar color="indigo">
                <v-icon dark>mdi-account-circle</v-icon>
              </v-list-item-avatar>
              <v-btn @click="dialog = true" text fab>
                <v-icon>mdi-delete-empty</v-icon>
              </v-btn>
              <h3 class="headline mb-2">{{active[0].name}}</h3>
              <h3>
                <router-link
                  :to="{name: 'CompanyProfile', params: { id: active[0].id}}"
                >Şirkət profilinə get</router-link>
              </h3>
              <div class="blue--text mb-2 mt-5">{{active[0].email}}</div>
              <div class="blue--text subheading font-weight-bold">{{active[0].description}}</div>
              <div class="blue--text subheading font-weight-bold mb-5">{{active[0].phoneNumber}}</div>
              <div
                class="blue--text subheading font-weight-bold mb-5"
              >{{active[0].location.address}}</div>
              <v-btn
                small
                class="mx-2"
                fab
                dark
                color="indigo"
                @click="setCreateCompanyDialogBox(active[0].id)"
              >
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
              <b>"{{active[0].name}}"</b> altında yeni sirket yarat
            </v-card-text>
          </v-slide-y-transition>
          <v-slide-y-reverse-transition hide-on-leave>
            <v-card-text v-if="!active[0]">
              <i>Şirkət məlumatını görmək üçün, şirkərin üzərinə klikləyin</i>
            </v-card-text>
          </v-slide-y-reverse-transition>
        </v-flex>
      </v-layout>
      <v-dialog v-model="dialog" persistent max-width="500">
        <v-card>
          <v-card-title>Şirkəti silmək istədiyinizdən əminsinizmi?</v-card-title>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="green darken-1" text @click="dialog = false">İmtina</v-btn>
            <v-btn color="green darken-1" text @click="deleteCompany(active[0].id)">Sil</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
    <CreateCompanyDB></CreateCompanyDB>
  </v-container>
</template>

<script>
import CreateCompanyDB from "@/components/CreateCompanyDialogBox";
import { eventBus } from "@/eventbus";
import { mapState, mapActions } from "vuex";

import { APIService } from "@/APIService";

const apiService = new APIService();

export default {
  components: {
    CreateCompanyDB
  },
  data: () => ({
    open: [1, 2],
    search: null,
    caseSensitive: false,
    active: [],
    selection: [],
    companies: [],
    loading: false,
    dialog: false
  }),
  computed: {
    ...mapState([
      "locationMapPositionLat",
      "locationMapPositionLng",
      "reloadVue"
    ]),
    filter() {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    }
  },
  methods: {
    ...mapActions(["updateReloadVue", "updateMainTitle"]),
    setCreateCompanyDialogBox(id) {
      eventBus.$emit("createCompanyDialogBox", true);
      eventBus.$emit("title", "titititi");
      eventBus.$emit("parentCompanyid", id);
    },
    deleteCompany(id) {
      apiService
        .deleteCompany(id)
        .then(() => {
          this.updateReloadVue(Math.random());
        })
        .catch(() => {
          this.dialog = false;
        });
    },
    getUserCompanies() {
      this.loading = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getUserCompanies(userId)
        .then(response => {
          this.companies = response;
          this.loading = false;
        })
        .catch(() => {});
    }
  },
  mounted() {
    this.updateMainTitle("Şirkətlərim");
    this.getUserCompanies();
  }
};
</script>