<template>
  <v-container>
    <v-scroll-y-transition group hide-on-leave>
      <v-card
        elevation="5"
        v-for="(i, n) in 5"
        :key="n"
        class="ma-5 pa-3"
        color="grey lighten-4"
        @click="setSelectServicesDialogBox(i)"
      >
        <v-layout>
          <v-flex xs3 class="mr-3">
            <v-img
              src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
              width="60"
              height="90"
              style="border-radius: 10px;"
            ></v-img>
          </v-flex>
          <v-flex xs9>
            <span class="d-block text-truncate blue--text">
              <!-- {{i.name}}
              {{i.surname}}-->
              name
            </span>
            <span class="d-block text-truncate caption">
              <v-icon small>mdi-contact-mail</v-icon>
              <!-- {{i.email}} -->
              email
            </span>
            <span class="d-block text-truncate caption">
              <v-icon small>mdi-phone</v-icon>
              <!-- {{i.phoneNumber}} -->
              phone
            </span>
            <span class="d-block text-truncate caption">
              <v-icon small>mdi-map-marker</v-icon>
              <!-- {{i.location.address}} -->
              addr
            </span>
          </v-flex>
        </v-layout>
      </v-card>
    </v-scroll-y-transition>
  </v-container>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapActions } from "vuex";

export default {
  data() {
    return {
      pendingBookingRequests: [],
      rejectedRequests: [],
      dialog: false,
      rejectMessage: "",
      rejectId: "",
      loading1: false,
      loading2: false
    };
  },
  mounted() {
    this.updateMainTitle("Favoritlərim");
    this.getPendingBookingRequestsByWorkerId();
    this.getRejectedRequests();
  },
  methods: {
    ...mapActions(["updateMainTitle"]),
    getPendingBookingRequestsByWorkerId() {
      this.loading2 = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getPendingBookingRequestsByWorkerId(userId)
        .then(response => {
          this.pendingBookingRequests = response.data.data;
          this.loading2 = false;
        })
        .catch(() => {
          this.loading2 = false;
        });
    },
    getRejectedRequests() {
      this.loading1 = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getRejectedRequests(userId)
        .then(response => {
          this.rejectedRequests = response.data.data;
          this.loading1 = false;
        })
        .catch(() => {
          this.loading1 = false;
        });
    },
    acceptBookingRequest(id) {
      apiService
        .acceptBookingRequest(id)
        .then(() => {
          this.getPendingBookingRequestsByWorkerId();
        })
        .catch();
    },
    rejectBookingRequest(id) {
      apiService
        .rejectBookingRequest(id, this.rejectMessage)
        .then(() => {
          this.getPendingBookingRequestsByWorkerId();
          this.dialog = false;
        })
        .catch(() => {});
    },
    showDialog(id) {
      (this.dialog = true), (this.rejectId = id);
    }
  }
};
</script>