<template>
  <v-container>
    <v-layout text-center wrap>
      {{user}}<br>
      {{username}} {{message}}
      {{welcomeMessage}}<br>
      llll{{loadingPage}}
      <v-btn @click="updateName">Update Name</v-btn>
    </v-layout>
    <input type="text" v-model="query" />
        <button type="button" v-on:click="search()">Search</button>
    <HereMap
            appId="XUUSMx9oBAk8kzuERTeW"
            appCode="Y1stByz55PX5di7q5xd1Aw"
            lat="40.448926"
            lng="49.779500"
            width="100%"
            height="400px" />
  </v-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import HereMap from "@/components/LocationMap"

  export default {
    components: {
            HereMap
        },
    data(){
      return{
        query: "Starbucks"

      }
    },
    computed: {
      ...mapState([
        'message',
        'user',
        'username',
        'loadingPage'
      ]),
      ...mapGetters([
        'welcomeMessage',
      ])
    },
    methods: {
      ...mapActions([
        'updateUsername',
      ]),
      updateName() {
        this.updateUsername("Alish Najafzade")
        this.$store.dispatch('updateLoadingPage', true)

      },
      search() {
                this.$refs.map.places(this.query);
            },
    }
  };
</script>