<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="overflow-y-auto" style="overflow: hidden;" height="600" :loading="loading">
        <v-text-field
          v-model="query"
          hide-details
          @click:append="changeSelectedType(pressedButton)"
          prepend-inner-icon="mdi-magnify"
          outlined
          class="ma-5"
          label="Axtarış sözünü daxil edin"
          @input="changeSelectedType(pressedButton)"
        ></v-text-field>

        <v-treeview
          :items="selectedItems"
          v-if="selectedTab==1"
          open-on-click
          open-all
          :search="query"
        >
          <template v-slot:prepend="{ item }">
            <v-icon v-if="item.children.length > 0">mdi-briefcase</v-icon>
            <v-icon v-else>mdi-briefcase-plus</v-icon>
          </template>
          <template v-slot:label="{ item }">
            <p
              @click="setSelectServicesDialogBox(item)"
              v-if="item.children.length == 0"
              class="mt-5"
            >{{item.name}}</p>
            <p v-else class="mt-5">{{item.name}}</p>
          </template>
        </v-treeview>
        <v-scroll-y-transition group hide-on-leave v-else>
          <v-card
            elevation="5"
            v-for="(i, n) in selectedItems"
            :key="n"
            class="ma-5 pa-3"
            color="grey lighten-4"
            @click="setSelectServicesDialogBox(i)"
          >
            <v-layout>
              <v-flex xs3 class="mr-3">
                <v-img
                  src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                  width="60"
                  height="90"
                  style="border-radius: 10px;"
                ></v-img>
              </v-flex>
              <v-flex xs9>
                <span class="d-block text-truncate blue--text">
                  <v-icon small v-if="i.icon" class="mr-5">{{i.icon}}</v-icon>
                  {{i.name}}
                  {{i.surname}}
                </span>
                <span class="d-block text-truncate caption" v-if="i.email">
                  <v-icon small>mdi-contact-mail</v-icon>
                  {{i.email}}
                </span>
                <span class="d-block text-truncate caption" v-if="i.phoneNumber">
                  <v-icon small>mdi-phone</v-icon>
                  {{i.phoneNumber}}
                </span>
                <span class="d-block text-truncate caption" v-if="i.description">
                  <v-icon small>mdi-information</v-icon>
                  {{i.description}}
                </span>
                <span class="d-block text-truncate caption" v-if="i.location">
                  <v-icon small>mdi-map-marker</v-icon>
                  {{i.location.address}}
                </span>
                <span class="d-block text-truncate caption" v-if="i.gender">
                  <v-icon small>mdi-information</v-icon>----
                  <v-icon>{{i.gender == 'male' ? 'mdi-human-male' : 'mdi-human-female'}}</v-icon>
                </span>
              </v-flex>
            </v-layout>
          </v-card>
        </v-scroll-y-transition>
      </v-card>
      <v-bottom-navigation :value="activeBtn" fixed>
        <v-btn @click="changeSelectedType('0')">
          <span>Şirkətlər</span>
          <v-icon>mdi-office-building</v-icon>
        </v-btn>

        <v-btn @click="changeSelectedType('1')">
          <span>Xidmətlər</span>
          <v-icon>mdi-briefcase</v-icon>
        </v-btn>

        <v-btn @click="changeSelectedType('2')">
          <span>Xidmət verənlər</span>
          <v-icon>mdi-briefcase-account</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-flex>
    <SelectServicesDialogBox></SelectServicesDialogBox>
  </v-layout>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import SelectServicesDialogBox from "@/components/SelectServicesDialogBox";
import { mapState, mapActions } from "vuex";
import { mainTitle } from "@/variables.js";

export default {
  components: { SelectServicesDialogBox },
  data() {
    return {
      activeBtn: 0,
      pressedButton: "0",
      selectedItems: [],
      query: "",
      loading: false,
      selectedTab: 0
    };
  },
  methods: {
    ...mapActions([
      "updateNavBarIcon",
      "updateMainTitle",
      "updateSelectedCompany",
      "updateSelectedService",
      "updateSelectedServicer"
    ]),
    changeSelectedType(n) {
      this.selectedItems = [];
      this.loading = true;
      this.selectedTab = n;
      if (n == "0") {
        this.searchCompanies();
      } else if (n == "1") {
        this.searchServicesByQuery();
      } else if (n == "2") {
        this.searchServicerByQuery();
      }
      this.pressedButton = n;
    },
    searchCompanies() {
      apiService
        .getCompanies(this.query)
        .then(response => {
          this.selectedItems = response.data.companies;
          this.loading = false;
        })
        .catch(() => {});
    },
    searchServicesByQuery() {
      apiService
        .getServicesByQuery("")
        .then(response => {
          this.selectedItems = response.data.services;
          this.loading = false;
        })
        .catch(() => {});
    },
    searchServicerByQuery() {
      apiService
        .getServicerByQuery(this.query)
        .then(response => {
          this.selectedItems = response.data.users;
          this.loading = false;
        })
        .catch(() => {});
    },
    setSelectServicesDialogBox(data) {
      if (this.selectedTab == 0) {
        this.updateSelectedCompany(data);
        this.$router.push("/selected-company");
      }
      if (this.selectedTab == 1) {
        this.updateSelectedService(data);
        this.$router.push("/selected-service");
      }
      if (this.selectedTab == 2) {
        this.updateSelectedServicer(data);
        this.$router.push("/selected-servicer");
      }
    }
  },
  computed: {
    ...mapState(["navBarIcon", "selectedCompany"])
  },
  mounted() {
    this.changeSelectedType("0");
    this.updateNavBarIcon("mdi-menu");
    this.updateMainTitle(mainTitle);
  }
};
</script>