<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card mt-5 class="mx-auto" max-width="600">
        <!-- <v-text-field disabled v-model="query" hide-details @click:append="changeSelectedType(pressedButton)"
                    append-icon="mdi-cloud-search" outlined class="pa-5" label="Müvəqqəti olaraq işləmir"
        @input="changeSelectedType(pressedButton)"></v-text-field>-->
        <!-- label="Axtarış sözünü daxil edin" -->
        <v-card class="overflow-y-auto" style="overflow: hidden;" height="600" :loading="loading">
          <v-scroll-y-transition group hide-on-leave>
            <v-card
              elevation="5"
              v-for="(i, n) in selectedItems"
              :key="n"
              class="ma-5 pa-3"
              color="grey lighten-4"
              @click="selectItem(i)"
            >
              <v-layout>
                <v-flex v-if="pressedButton == '0'" xs3 class="mr-3">
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                    width="60"
                    height="90"
                    style="border-radius: 10px;"
                  ></v-img>
                </v-flex>
                <v-flex xs9>
                  <span class="d-block text-truncate blue--text mb-3">
                    <v-icon small v-if="i.icon" class="mr-5">{{i.icon}}</v-icon>
                    {{i.name}}
                    {{i.surname}}
                  </span>
                  <span v-if="i.service" class="d-block text-truncate blue--text mb-3">
                    <v-icon small class="mr-5">{{i.service.icon}}</v-icon>
                    {{i.service.name}}
                  </span>

                  <span class="d-block text-truncate" v-if="i.email">
                    <v-icon small>mdi-contact-mail</v-icon>
                    {{i.email}}
                  </span>
                  <span class="d-block text-truncate" v-if="i.phoneNumber">
                    <v-icon small>mdi-contact-phone</v-icon>
                    {{i.phoneNumber}}
                  </span>
                  <span class="d-block" v-if="i.description">
                    <v-icon small>mdi-information</v-icon>
                    {{i.description}}
                  </span>
                  <span class="d-block text-truncate" v-if="i.gender">
                    <v-icon small>mdi-information</v-icon>----
                    <v-icon>{{i.gender == 'male' ? 'mdi-human-male' : 'mdi-human-female'}}</v-icon>
                  </span>
                </v-flex>
              </v-layout>
            </v-card>
          </v-scroll-y-transition>
        </v-card>
      </v-card>
      <v-bottom-navigation :value="activeBtn" fixed>
        <v-btn @click="$router.push('/')">
          <span>Home</span>
          <v-icon>mdi-home</v-icon>
        </v-btn>

        <v-btn @click="changeSelectedType('0')">
          <span>Şirkətlər</span>
          <v-icon>mdi-office-building</v-icon>
        </v-btn>

        <v-btn @click="changeSelectedType('1')">
          <span>Xidmətlər</span>
          <v-icon>mdi-briefcase</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-flex>
    <SelectServicesDialogBox></SelectServicesDialogBox>
  </v-layout>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import SelectServicesDialogBox from "@/components/SelectServicesDialogBox";
import { mapState, mapActions } from "vuex";

export default {
  components: { SelectServicesDialogBox },

  data: () => ({
    activeBtn: 1,
    pressedButton: "0",
    selectedItems: [],
    query: "",
    loading: false
  }),
  computed: {
    ...mapState([
      "navBarIcon",
      "mainTitle",
      "selectedCompany",
      "selectedService",
      "selectedServicer"
    ])
  },
  methods: {
    ...mapActions([
      "updateNavBarIcon",
      "updateMainTitle",
      "updateSelectedService",
      "updateSelectedServicer",
      "updateSelectedCompany"
    ]),
    changeSelectedType(n) {
      this.selectedItems = [];
      this.loading = true;

      if (n == "0") {
        this.getCompaniesByEmployeeId();
      } else if (n == "1") {
        this.getEmployeesByServiceId();
      }
      this.pressedButton = n;
    },
    getCompaniesByEmployeeId() {
      apiService
        .getCompaniesByEmployeeId(this.selectedServicer.id)
        .then(response => {
          this.selectedItems = response.company;
          this.loading = false;
        })
        .catch(() => {});
    },
    getEmployeesByServiceId() {
      apiService
        .getCustomServices(this.selectedServicer.id, true)
        .then(response => {
          this.selectedItems = response.customServices;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    selectItem(item) {
      if (this.pressedButton == 0) {
        this.updateSelectedCompany(item);
        this.$router.push("/select-service");
      }
      if (this.pressedButton == 1) {
        this.updateSelectedService(item);
        this.$router.push("/select-company");
      }
    }
  },
  created() {
    if (Object.entries(this.selectedServicer).length == 0) {
      this.$router.push("/");
    }
  },
  mounted() {
    this.changeSelectedType("0");
    this.updateNavBarIcon("mdi-keyboard-backspace");
    this.updateMainTitle(
      this.selectedServicer.name + " " + this.selectedServicer.surname
    );
  }
};
</script>