<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-auto pa-5" max-width="600" :loading="loading">
        <p class="title text-center">{{user.name}} {{user.surname}}</p>
        <v-list shaped>
          <v-list-item-group v-model="model" multiple>
            <v-scroll-y-transition group hide-on-leave>
              <template v-for="(item, i) in customServices">
                <v-list-item
                  :key="`item-${i}`"
                  :value="item"
                  class="my-1"
                  active-class="deep-purple--text text--accent-4"
                >
                  <template v-slot:default="{ active, toggle }">
                    <v-list-item-content>
                      <v-list-item-title>{{item.service.name}}</v-list-item-title>
                      <v-list-item-title v-if="item.price == null">Qiymət: razılaşma</v-list-item-title>
                      <v-list-item-title v-else>Qiymət: {{item.price}}</v-list-item-title>
                      <v-list-item-title>Zaman: {{item.duration}} dəq</v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                      <v-checkbox
                        :input-value="active"
                        :true-value="item"
                        color="deep-purple accent-4"
                        @click="toggle"
                      ></v-checkbox>
                    </v-list-item-action>
                  </template>
                </v-list-item>
              </template>
            </v-scroll-y-transition>
          </v-list-item-group>
        </v-list>
        <v-card-text>Ümumi məbləğ: {{calculatedPrice}}</v-card-text>
        <v-scroll-y-transition hide-on-leave>
          <v-btn
            v-show="!model.length == 0"
            @click="setCalendar()"
            block
            class="blue"
            dark
          >Növbəyə yazıl</v-btn>
        </v-scroll-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      dialog: false,
      user: {},
      model: [],
      customServices: [],
      loading: false
    };
  },
  created() {
    if (Object.entries(this.selectedServicer).length == 0) {
      this.$router.push("/");
    }

    this.loading = true;
    this.user = this.selectedServicer;
    this.getCustomServices(this.user.id);
  },
  mounted() {
    if (this.selectedCompany) {
      this.updateMainTitle(this.selectedCompany.name);
    } else {
      this.updateMainTitle(
        "Fərdi: " +
          this.selectedServicer.name +
          " " +
          this.selectedServicer.surname
      );
    }
  },
  methods: {
    ...mapActions([
      "updateSearchedAvailableTime",
      "updateWorkerCalendarWorkerId",
      "updateWorkerCalendarWorkerId",
      "updateMainTitle",
      "updateSelectedServices"
    ]),
    getCustomServices(id) {
      this.loading = true;
      (this.customServices = []),
        apiService
          .getCustomServices(id, false)
          .then(response => {
            this.customServices = response.customServices;
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
    },
    calculatedDuration() {
      var duration = 0;
      this.model.forEach(element => {
        duration += element.duration;
      });
      return duration;
    },
    setCalendar() {
      this.updateSelectedServices(this.model);
      this.updateSearchedAvailableTime(this.calculatedDuration());
      this.updateWorkerCalendarWorkerId(this.user.id);
      this.$router.push("/wk-cs");
    }
  },
  computed: {
    calculatedPrice() {
      var totalPrice = 0;
      var agree = false;
      this.model.forEach(element => {
        if (element.price == null) {
          agree = true;
        }
        totalPrice += element.price;
      });
      if (agree)
        return "Seçdiyiniz xidmətlər(lər) üçün qiymət razılaşma yolu ilə aparılacaq";
      else return totalPrice + "AZN";
    },
    ...mapState([
      "searchedAvailableTime",
      "workerCalendarWorkerId",
      "selectedServicer",
      "selectedService",
      "selectedCompany"
    ])
  }
};
</script>