<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card mt-5 class="mx-auto py-5" max-width="600">
        <v-card class="ma-2 pa-2" color="grey lighten-4" @click="selectService('', 'p')">
          <p class="my-5">Fərdi: {{selectedServicer.name}} {{selectedServicer.surname}}</p>
        </v-card>
        <v-scroll-y-transition group hide-on-leave>
          <v-card
            v-for="(i, n) in companies"
            class="ma-5 pa-3"
            color="grey lighten-4"
            :key="n"
            @click="selectService(i, 'c')"
          >
            <v-layout>
              <v-flex xs3 class="mr-3">
                <v-img
                  src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                  width="60"
                  height="90"
                  style="border-radius: 10px;"
                ></v-img>
              </v-flex>
              <v-flex xs9>
                <p class="blue--text">{{i.name}} {{i.surname}}</p>
                <span class="d-block text-truncate">
                  <v-icon small>mdi-contact-mail</v-icon>
                  {{i.email}}
                </span>
                <span class="d-block text-truncate">
                  <v-icon small>mdi-contact-phone</v-icon>
                  {{i.phoneNumber}}
                </span>
                <span class="d-block text-truncate">
                  <v-icon small>mdi-information</v-icon>----
                  <v-icon>{{i.gender == 'male' ? 'mdi-human-male' : 'mdi-human-female'}}</v-icon>
                </span>
              </v-flex>
            </v-layout>
          </v-card>
        </v-scroll-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapState, mapActions } from "vuex";
import { mainTitle } from "@/variables.js";

export default {
  components: {},

  data: () => ({
    companies: []
  }),
  computed: {
    ...mapState([
      "navBarIcon",
      "mainTitle",
      "selectedCompany",
      "selectedService",
      "selectedServicer"
    ])
  },
  methods: {
    ...mapActions([
      "updateNavBarIcon",
      "updateSelectedServicer",
      "updateSelectedCompany",
      "updateMainTitle"
    ]),
    selectService(data, type) {
      this.updateSelectedCompany(data);
      if (type == "p") {
        this.$router.push("/select-service");
      } else {
        if (this.selectedServicer) this.$router.push("/select-service");
        else this.$router.push("/select-servicer");
      }
    }
  },
  created() {
    if (Object.entries(this.selectedService).length == 0) {
      this.$router.push("/");
    }
  },
  mounted() {
    this.updateNavBarIcon("mdi-keyboard-backspace");
    apiService
      .getCompanyByServiceId(this.selectedService.id)
      .then(response => {
        this.companies = response.company;
        this.loading = false;
      })
      .catch(() => {});

    this.updateMainTitle(mainTitle);
  }
};
</script>