<template>
  <v-card class="mx-auto my-5" max-width="600" :loading="loading">
    <v-card-title>
      <span class="title">İşçi dəvəti göndər</span>
    </v-card-title>
    <v-btn text @click="searchServicerByQuery('')">Siyahida axtar</v-btn>
    <v-spacer></v-spacer>
    <v-layout justify-center>
      <v-layout row wrap>
        <v-flex xs2 sm1 ml-12>
          <v-text-field v-model="code" label="+994" disabled></v-text-field>
        </v-flex>
        <v-flex xs2 sm1 ml-5>
          <v-select
            v-model="select"
            :items="provaiderCode"
            :rules="[v => !!v || 'Item is required']"
            required
          ></v-select>
        </v-flex>
        <v-flex xs4 sm3 ml-5>
          <v-text-field
            v-mask="mask"
            v-model="phone"
            label="Telefon"
            required
            autocomplete="phone"
            @click:append="findUser('')"
            append-icon="mdi-account-search"
            @input="findUser('')"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-layout>
    <v-scroll-y-transition group hide-on-leave v-if="searchInList">
      <v-card
        elevation="5"
        v-for="(i, n) in selectedItems"
        :key="n"
        class="ma-5 pa-3"
        color="grey lighten-4"
        @click="setSelectedServicer(i)"
      >
        <v-layout>
          <v-flex xs3>
            <v-avatar color="indigo" size="60">
              <v-icon dark>mdi-account-circle</v-icon>
            </v-avatar>
          </v-flex>
          <v-flex xs9>
            <span class="d-block text-truncate blue--text mb-3">
              <v-icon small v-if="i.icon" class="mr-5">{{i.icon}}</v-icon>
              {{i.name}}
              {{i.surname}}
            </span>
            <span class="d-block text-truncate" v-if="i.email">
              <v-icon small>mdi-contact-mail</v-icon>
              {{i.email}}
            </span>
            <span class="d-block text-truncate" v-if="i.phoneNumber">
              <v-icon small>mdi-contact-phone</v-icon>
              {{i.phoneNumber}}
            </span>
            <span class="d-block text-truncate" v-if="i.description">
              <v-icon small>mdi-information</v-icon>
              {{i.description}}
            </span>
            <span class="d-block text-truncate" v-if="i.location">
              <v-icon small>mdi-map-marker</v-icon>
              {{i.location.address}}
            </span>
            <span class="d-block text-truncate" v-if="i.gender">
              <v-icon small>mdi-information</v-icon>----
              <v-icon>{{i.gender == 'male' ? 'mdi-human-male' : 'mdi-human-female'}}</v-icon>
            </span>
          </v-flex>
        </v-layout>
      </v-card>
    </v-scroll-y-transition>

    <v-slide-y-transition v-else>
      <v-card class="ma-5 elevation-0" style="max-width: 400px;" v-if="user != null">
        <v-row justify="space-between">
          <v-col cols="9">
            <div class="title mb-3">{{user.name}} {{user.surname}}</div>
            <div>
              <v-icon small>mdi-contact-mail</v-icon>
              <span class="caption ml-1">{{user.email}}</span>
            </div>
            <div>
              <v-icon small>mdi-contact-phone</v-icon>
              <span class="caption ml-1">{{user.phoneNumber}}</span>
            </div>
            <div>
              <v-icon small class="mr-3">mdi-information</v-icon>----
              <v-icon>{{user.gender == 'male' ? 'mdi-human-male' : 'mdi-human-female'}}</v-icon>
            </div>
          </v-col>
          <v-col cols="3">
            <v-list-item-avatar color="indigo" size="50">
              <v-icon size="50" dark>mdi-account-circle</v-icon>
            </v-list-item-avatar>
          </v-col>
        </v-row>
        <v-divider dark></v-divider>
        <!-- <v-card-actions class="pa-4">
          İşçinin reytingi
          <div class="flex-grow-1"></div>
          <span class="grey--text text--lighten-2 caption mr-2">({{ rating }})</span>
          <v-rating
            v-model="rating"
            background-color="white"
            color="yellow accent-4"
            dense
            hover
            size="18"
            readonly
          ></v-rating>
        </v-card-actions>-->
        <v-select
          v-model="selectedServices"
          :items="services"
          label="Xidmət seçin"
          multiple
          chips
          hint="İşçi şirkətdə hansı xidmətləri göstərəcək?"
          persistent-hint
          class="pa-5"
          item-text="service.name"
          :no-data-text="noData"
          return-object
        ></v-select>
        <v-layout row wrap>
          <v-switch class="ma-5" label="Admin (resepşın) statusu ver"></v-switch>
          <v-btn
            class="ma-5"
            color="success"
            @click="sendInvitationToJoinCompany()"
            v-if="selectedServices.length > 0"
          >
            Göndər
            <v-icon class="ml-3">mdi-send</v-icon>
          </v-btn>
        </v-layout>
      </v-card>
    </v-slide-y-transition>
    <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackbarColor">
      {{responseText}}
      <v-btn color="white" text @click="snackbar = false">X</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import { APIService } from "@/APIService";
const apiService = new APIService();
import { provaiderCode } from "@/variables.js";
import { mask } from "vue-the-mask";

export default {
  directives: {
    mask
  },
  data: () => ({
    searchInList: true,
    snackbarColor: "",
    timeout: 2000,
    snackbar: false,
    responseText: "",
    code: "",
    select: "50",
    provaiderCode: [],
    mask: "###-##-##",
    loading: false,
    rating: 4,
    phone: "",
    user: null,
    selectedServices: [],
    selectedItemsToSend: [],
    services: [],
    selectedItems: [],
    query: ""
  }),

  methods: {
    addToSend() {
      this.selectedServices.forEach(element => {
        this.selectedItemsToSend.push({
          service: {
            id: element.service.id
          },
          company: {
            id: this.$route.params.id
          },
          price: element.price,
          duration: element.duration,
          description: element.description
        });
      });
    },
    sendInvitationToJoinCompany() {
      this.addToSend();
      var userId = this.user.id;
      this.loading = true;
      apiService
        .sendInvitationToJoinCompany(this.selectedItemsToSend, userId)
        .then(() => {
          this.responseText =
            "Istək göndərildi (hələlik qəbul edilmiş sayırıq)";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
          this.$router.go(-1);
        })
        .catch(() => {
          this.loading = false;
        });
    },
    findUser(phone) {
      this.searchInList = false;
      if (phone == "") phone = "%2b994" + this.select + "-" + this.phone;
      else phone = phone.replace("+994", "%2b994");
      if (phone.length == 18) {
        this.loading = true;
        apiService
          .getUserByPhoneNumber(phone)
          .then(response => {
            this.user = response.data.user;
            if (this.user == null) {
              this.responseText = "Bu nomreye uygun xidmet veren tapilmadi";
              this.snackbarColor = "#ffae42";
              this.snackbar = true;
            }
            apiService
              .getCustomServices(this.user.id, true)
              .then(response => {
                this.services = response.customServices;
                this.loading = false;
              })
              .catch(() => {
                this.loading = false;
              });
          })
          .catch(() => {
            this.loading = false;
          });
      }
    },
    searchServicerByQuery() {
      this.loading = true;
      this.searchInList = true;
      apiService
        .getServicerByQuery(this.query)
        .then(response => {
          this.selectedItems = response.data.users;
          this.loading = false;
        })
        .catch(() => {});
    },
    setSelectedServicer(item) {
      var phone = item.phoneNumber.replace('"', "");
      this.findUser(phone);
    }
  },
  mounted() {},
  created() {
    this.provaiderCode = provaiderCode;
  },
  computed: {
    noData() {
      return this.user.name + " " + this.user.surname + " xidmət əlavə etməyib";
    }
  }
};
</script>