<template>
  <v-container>
    <v-card class="mx-auto pa-3" max-width="600" :loading="loading">
      <v-text-field
        v-model="search"
        label="Xidmət axtar"
        solo
        hide-details
        prepend-inner-icon="mdi-magnify"
        class="my-5"
      ></v-text-field>

      <v-btn
        @click="setCreateServiceDialogBox(null)"
        block
        class="white--text body-2 my-gradient"
      >Xidmət əlavə et</v-btn>
      <v-layout row wrap>
        <v-flex xs12 sm6 d-flex text-center>
          <v-slide-y-transition hide-on-leave>
            <v-card-text v-if="active[0]">
              <h3 class="headline mb-2">{{active[0].name}}</h3>
              <div class="blue--text subheading font-weight-bold">{{active[0].description}}</div>
              <v-btn
                small
                class="mx-2"
                fab
                dark
                color="indigo"
                @click="setCreateServiceDialogBox(active[0].id)"
              >
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
              <b>"{{active[0].name}}"</b> altında yeni xidmət yarat
            </v-card-text>
          </v-slide-y-transition>
          <v-slide-y-reverse-transition hide-on-leave>
            <v-card-text v-if="!active[0]">
              <i>Xidmət məlumatını görmək üçün, xidmətin üzərinə klikləyin</i>
            </v-card-text>
          </v-slide-y-reverse-transition>
        </v-flex>
        <v-flex xs12 sm6>
          <v-card-text class="pa-3">
            <v-treeview
              transition
              dense
              :active.sync="active"
              activatable
              v-model="selection"
              return-object
              :items="services"
              :search="search"
              :filter="filter"
              :open.sync="open"
            >
              <template v-slot:prepend="{ item, open, active }">
                <v-icon>{{item.icon}}</v-icon>
              </template>
              <template v-slot:append="{ item, open, active }">
                <v-btn
                  v-if="item.children.length == 0 && active"
                  @click="setRemoveDialog(item.id)"
                  fab
                  small
                  dark
                  color="red"
                  text
                >
                  <v-icon small>mdi-delete-empty</v-icon>
                </v-btn>
              </template>
            </v-treeview>
          </v-card-text>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <p class="ml-5 mt-5">
        <b>Xidmət istekleri</b>
      </p>
      <p class="ml-10 caption" v-if="serviceRequests.length == 0">Xidmət istəyi yoxdur</p>
      <v-list v-else>
        <v-list-item v-for="i in serviceRequests" :key="i.id">
          <v-list-item-content>
            <v-list-item-subtitle>Xidmət adı: {{i.name}}</v-list-item-subtitle>
            <v-list-item-subtitle>Xidmət haqqında məlumat:{{i.description}}</v-list-item-subtitle>
            <v-list-item-subtitle>Tələb edən: {{i.requestedUser.name}} {{i.requestedUser.surname}}</v-list-item-subtitle>
          </v-list-item-content>
          <v-btn class="ma-2" text icon color="green lighten-2" @click="acceptServiceRequest(i.id)">
            <v-icon>mdi-check</v-icon>
          </v-btn>
          <v-btn class="ma-2" text icon color="red lighten-2" @click="rejectServiceRequest(i.id)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>

      <v-dialog v-model="dialog" persistent max-width="500">
        <v-card>
          <v-card-title>Xidməti silmək istədiyinizdən əminsinizmi?</v-card-title>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="green darken-1" text @click="dialog = false">İmtina</v-btn>
            <v-btn color="red darken-1" text @click="deleteService(selectedItemId)">Sil</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackbarColor">
      {{responseText}}
      <v-btn color="white" text @click="snackbar = false">X</v-btn>
    </v-snackbar>
    <CreateServiceDB></CreateServiceDB>
  </v-container>
</template>

<script>
import CreateServiceDB from "@/components/CreateServiceDialogBox";
import { eventBus } from "@/eventbus";
import { mapState, mapActions } from "vuex";

import { APIService } from "@/APIService";

const apiService = new APIService();

export default {
  components: {
    CreateServiceDB
  },
  data: () => ({
    snackbarColor: "",
    timeout: 6000,
    open: [1, 2],
    snackbar: false,
    search: null,
    responseText: "",
    caseSensitive: false,
    active: [],
    selection: [],
    services: [],
    loading: false,
    dialog: false,
    serviceRequests: [],
    selectedItemId: null
  }),
  computed: {
    ...mapState(["reloadVue"]),
    filter() {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    }
  },
  methods: {
    ...mapActions(["updateReloadVue", "updateMainTitle"]),
    getServices() {
      this.loading = true;
      apiService
        .getServices()
        .then(response => {
          this.services = response;
          this.loading = false;
        })
        .catch(() => {});
    },
    getServiceRequests() {
      this.loading = true;
      apiService
        .getServiceRequests()
        .then(response => {
          this.serviceRequests = response.data.data;
          this.loading = false;
        })
        .catch(() => {});
    },
    setCreateServiceDialogBox(id) {
      eventBus.$emit("createServiceDialogBox", true);
      eventBus.$emit("title", "titititi");
      eventBus.$emit("parentServiceid", id);
    },
    deleteService(id) {
      apiService
        .deleteService(id)
        .then(() => {
          this.updateReloadVue(Math.random());
        })
        .catch(() => {
          this.dialog = false;
          this.snackbarColor = "red";
          this.responseText =
            "Bu xidmət user(lər) tərəfindən istifadədə olduğu üçün silinə bilməz";
          this.snackbar = true;
        });
    },
    acceptServiceRequest(id) {
      apiService
        .acceptServiceRequest(id)
        .then(() => {
          this.getServiceRequests();
        })
        .catch();
    },
    rejectServiceRequest(id) {
      apiService
        .rejectServiceRequest(id)
        .then(() => {
          this.getServiceRequests();
        })
        .catch();
    },
    setRemoveDialog(id) {
      this.selectedItemId = id
      this.dialog = true;
    }
  },
  mounted() {
    this.getServices();
    this.getServiceRequests();
    this.updateMainTitle("Xidmətlərin idarəsi");
  }
};
</script>