<template>
  <v-layout row justify-center>
    <v-dialog v-model="setAddTimeTableDialog" persistent width="500px">
      <v-card class="pa-3">
        <v-btn fab small @click="setAddTimeTableDialog = false" class="float-right" text>
          <v-icon class="red--text">mdi-close-circle-outline</v-icon>
        </v-btn>
        <v-card-title>
          <span class="title">İş vaxtı əlavə et</span>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs6>
              <v-dialog
                ref="dialogStartDate"
                v-model="modalStartDate"
                :return-value.sync="startDate"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="startDate"
                    label="Başlama tarixi"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="startDate" scrollable>
                  <div class="flex-grow-1"></div>
                  <v-btn text color="primary" @click="modalStartDate = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.dialogStartDate.save(startDate)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
              <v-dialog
                ref="dialogStartTime"
                v-model="time1model"
                :return-value.sync="start"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="start"
                    label="Başlama saatı"
                    prepend-icon="mdi-clock mdi-spin"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-if="time1model" v-model="start" full-width format="24hr">
                  <div class="flex-grow-1"></div>
                  <v-btn text color="primary" @click="time1model = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.dialogStartTime.save(start)">OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref="dialogEndDate"
                v-model="modalEndDate"
                :return-value.sync="endDate"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="endDate"
                    label="Bitmə tarixi"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="endDate" scrollable>
                  <div class="flex-grow-1"></div>
                  <v-btn text color="primary" @click="modalEndDate = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.dialogEndDate.save(endDate)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
              <v-dialog
                ref="dialogEndTime"
                v-model="time2model"
                :return-value.sync="end"
                persistent
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="end"
                    label="Bitmə saatı"
                    prepend-icon="mdi-clock mdi-spin"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker v-if="time2model" v-model="end" full-width format="24hr">
                  <div class="flex-grow-1"></div>
                  <v-btn text color="primary" @click="time2model = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.dialogEndTime.save(end)">OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-text-field
              v-model="locationText"
              label="Ünvan açıqlaması"
              required
              append-icon="mdi-map-check"
              @click:append="locationMapDialogBox = true"
            ></v-text-field>
            <a @click="locationMapDialogBox = true" class="mt-6 ml-3">Xəritdə göstər</a>
            <br />
            <v-flex xs12>
              <v-checkbox @change="setAsPersonal()" v-model="isPersonal" label="Xidməti fərdi ver"></v-checkbox>
            </v-flex>
            <v-flex xs12>
                Şirkətlər
              <v-scroll-y-transition hide-on-leave>
                <v-treeview
                  v-if="!isPersonal"
                  transition
                  dense
                  :active.sync="active"
                  activatable
                  v-model="selection"
                  return-object
                  :items="companies"
                >
                  <template v-slot:prepend="{ }">
                    <v-icon>mdi-office-building</v-icon>
                  </template>
                </v-treeview>
              </v-scroll-y-transition>
            </v-flex>
          </v-layout>
          <v-switch
            v-model="isRepeated"
            label="Heftelik tekrarla"
            color="green"
            @change="changeRepeatTime()"
          ></v-switch>
          <v-row v-if="isRepeated">
            <v-col cols="4">
              <v-overflow-btn
                :items="dropdownRepeatTimes"
                label="Həftəlik Təkrarla"
                v-model="repeatTime"
              ></v-overflow-btn>Dəfə
            </v-col>
          </v-row>
          <div v-if="isPersonal || active.length != 0">
            <v-icon>mdi-content-save</v-icon>
            <v-btn text @click="saveAvailableTimes()">Yadda saxla</v-btn>
          </div>
          <p v-else>Şirkət və ya fərdi bölmələr seçilməlidir</p>
          <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackbarColor">
            {{ responseText }}
            <v-btn color="white" text @click="snackbar = false">X</v-btn>
          </v-snackbar>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="locationMapDialogBox"
      @click.stop="locationMapDialogBox"
      width="410"
      persistent
    >
      <v-card width="410" height="410">
        <locationMapDialogBox></locationMapDialogBox>
        <div class="text-center">
          <v-btn fab small @click="saveMapLocation" text class="mr-5">
            <v-icon class="green--text">mdi-check-bold</v-icon>
          </v-btn>
          <v-btn fab small @click="removeMapLocation" text class="ml-5">
            <v-icon class="red--text">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { eventBus } from "@/eventbus";
import { APIService } from "@/APIService";
import locationMapDialogBox from "@/components/LocationMap";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";

const apiService = new APIService();
export default {
  components: { locationMapDialogBox },
  mixins: [validationMixin],

  validations: {
    locationText: { required }
  },
  data() {
    return {
      dropdownRepeatTimes: [1, 2, 3, 4],
      selection: [],
      active: [],
      locationText: "20 yanvar",
      locationMapDialogBox: false,
      isPersonal: false,
      dialogStartTime: false,
      dialogEndTime: false,
      time1model: false,
      time2model: false,
      snackbar: false,
      timeout: 6000,
      responseText: "",
      setAddTimeTableDialog: false,
      dialogStartDate: false,
      dialogEndDate: false,
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      modalStartDate: false,
      modalEndDate: false,
      start: "09:00",
      end: "18:00",
      repeatTime: 1,
      isRepeated: false,
      snackbarColor: "red",
      location: { latitude: "0", longitude: "0" },
      companies: []
    };
  },
  created() {
    eventBus.$on("setAddTimeTableDialog", msg => {
      this.setAddTimeTableDialog = msg;
    });
    eventBus.$on("title", msg => {
      this.title = msg;
    });
  },
  computed: {
    ...mapState([
      "locationMapPositionLat",
      "locationMapPositionLng",
      "reloadVue"
    ]),
    selectedCompanyId() {
      if (this.active.length != 0) return this.active[0].id;
      else return null;
    }
  },
  mounted() {
    this.getUserCompanies();
  },
  methods: {
    ...mapActions(["updateReloadVue"]),
    locationTextErrors() {
      const errors = [];
      if (!this.$v.locationText.$dirty) return errors;
      !this.$v.locationText.required && errors.push("Location is required.");
      return errors;
    },
    saveAvailableTimes() {
      apiService
        .saveAvailableTimes(
          [
            {
              company: {
                id: this.selectedCompanyId
              },
              location: {
                address: this.locationText,
                latitude: this.location.latitude,
                longitude: this.location.longitude
              },
              workHours: {
                start: this.startDate + " " + this.start,
                end: this.endDate + " " + this.end
              },
              repeating: {
                times: this.repeatTime
              }
            }
          ],
          JSON.parse(localStorage.getItem("user")).id
        )
        .then(() => {
          this.responseText = "Zaman müvəffəqiyyətlə əlavə olundu";
          this.snackbarColor = "green";
          this.snackbar = true;
          this.loading = false;
          this.updateReloadVue(Math.random());
        })
        .catch(() => {
          this.loading = false;
          this.responseText = "Bu zaman aralığığı doludur";
          this.snackbarColor = "red";
          this.snackbar = true;
        });
    },
    changeRepeatTime() {
      if (!this.isRepeated) {
        this.repeatTime = 1;
      }
    },
    saveMapLocation() {
      this.locationMapDialogBox = false;
      this.location.latitude = this.locationMapPositionLat;
      this.location.longitude = this.locationMapPositionLng;
    },
    removeMapLocation() {
      this.locationMapDialogBox = false;
      this.location.latitude = "0";
      this.location.longitude = "0";
    },
    getUserCompanies() {
      this.loading = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getCompaniesByEmployeeId(userId)
        .then(response => {
          this.companies = response.company;
          this.loading = false;
        })
        .catch(() => {});
    },
    setAsPersonal() {
      this.active = [];
    }
  }
};
</script>