<template>
  <div>
    <v-dialog v-model="createCompanyDialogBox" width="500" @click.stop="createCompanyDialogBox" persistent>
      <v-card>
        <v-btn fab small @click="createCompanyDialogBox = false" class="float-right ma-3 " text>
          <v-icon class="red--text">mdi-close-circle-outline</v-icon>
        </v-btn>
        <v-card-title>
          <span class="title">Şirkət hesabı aç</span><br>
        </v-card-title>
        <form class="pa-5">
          <v-text-field v-model="name" :error-messages="nameErrors" label="Şirkət adı" required
            @input="$v.name.$touch()" @blur="$v.name.$touch()"></v-text-field>
          <v-text-field v-model="locationText" :error-messages="locationTextErrors" label="Ünvan açıqlaması" required
            @input="$v.locationText.$touch()" @blur="$v.locationText.$touch()" append-icon="mdi-map-check"
            @click:append="locationMapDialogBox = true"></v-text-field>
          <span @click="locationMapDialogBox = true" class="float-right">Xəritdə göstər</span><br>


          <v-text-field v-model="email" :error-messages="emailErrors" label="E-mail" required @input="$v.email.$touch()"
            @blur="$v.email.$touch()"></v-text-field>
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="provaiderCode" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field v-mask="mask" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-btn :loading="loading" @click="createCompany()" outlined :disabled="!formIsValid" class="mr-3">Qeydiyyat
          </v-btn>
          <v-btn @click="clear" outlined color="indigo">Ekrani təmizlə</v-btn>
        </form>
        <p>
        </p>
      </v-card>
      <v-snackbar v-model="snackbar" :timeout="timeout" color="error">
        {{ myerror }}
        <v-btn color="white" text @click="snackbar = false">
          X
        </v-btn>
      </v-snackbar>
    </v-dialog>

    <v-dialog v-model="locationMapDialogBox" @click.stop="locationMapDialogBox" width="410" persistent>
      <v-card width="410" height="410">
        <locationMapDialogBox></locationMapDialogBox>
        <div class="text-center">
          <v-btn fab small @click="saveMapLocation" text class="mr-5">
            <v-icon class="green--text">mdi-check-bold</v-icon>
          </v-btn>
          <v-btn fab small @click="removeMapLocation" text class="ml-5">
            <v-icon class="red--text">mdi-close-circle-outline</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, email } from 'vuelidate/lib/validators'
  import { mask } from 'vue-the-mask'
  import { eventBus } from '@/eventbus'
  import { APIService } from '@/APIService';
  import { provaiderCode } from '@/variables.js'
  import locationMapDialogBox from "@/components/LocationMap";
  import { mapState, mapActions } from 'vuex'

  const apiService = new APIService();

  export default {
    components: { locationMapDialogBox },
    mixins: [validationMixin],
    directives: {
      mask
    },
    validations: {
      name: { required },
      locationText: { required },
      phone: { required },
      email: { required, email },
    },

    data: () => ({
      snackbar: false,
      locationMapDialogBox: false,
      timeout: 6000,
      locationText: '',
      myerror: '',
      createCompanyDialogBox: false,
      title: 'false',
      parentCompanyid: null,
      loading: false,
      mask: '###-##-##',
      name: '',
      code: '',
      select: '50',
      description: '',
      phone: '',
      email: '',
      location: { latitude: "", longitude: "" },
      menu: false,
      modal: false,
      menu2: false,
      provaiderCode: []
    }),
    created() {
      eventBus.$on('createCompanyDialogBox', (msg) => {
        this.createCompanyDialogBox = msg
      })

      eventBus.$on('title', (msg) => {
        this.title = msg
      })

      eventBus.$on('parentCompanyid', (msg) => {
        this.parentCompanyid = msg
      })


      this.provaiderCode = provaiderCode
    },
    computed: {
      ...mapState([
        'locationMapPositionLat',
        'locationMapPositionLng',
        'reloadVue',
      ]),
      nameErrors() {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      emailErrors() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      locationTextErrors() {
        const errors = []
        if (!this.$v.locationText.$dirty) return errors
        !this.$v.locationText.required && errors.push('Location is required.')
        return errors
      },
      formIsValid() {
        return (
          this.name &&
          (this.phone).length == 9 &&
          (this.emailErrors).length == 0 &&
          this.select &&
          this.locationText
        )
      },
      getUser() {
        return JSON.parse(localStorage.getItem('user'))
      }
    },
    methods: {
      ...mapActions([
        'updateReloadVue',
      ]),
      createCompany() {
        this.$v.$touch()
        this.loading = true
        if (this.formIsValid) {
          apiService.createCompany({
            name: this.name,
            description: this.description,
            location: {
              address: this.locationText,
              latitude: this.location.latitude,
              longitude: this.location.longitude
            },
            phoneNumber: "+994" + this.select + "-" + this.phone,
            email: this.email,
            parent: {
              id: this.parentCompanyid
            }
          },
            this.getUser.id
          ).then(() => {
            this.updateReloadVue(Math.random())
            this.loading = false
          })
            .catch((error) => {
              this.snackbar = true
              this.loading = false
              this.myerror = error.response.data.error

            })
        }
      },
      clear() {
        this.$v.$reset()
        this.name = ''
        this.phone = ''
        this.locationText = ''
        this.email = ''
        this.select = '50'
      },
      saveMapLocation() {
        this.locationMapDialogBox = false
        this.location.latitude = this.locationMapPositionLat
        this.location.longitude = this.locationMapPositionLng
      },
      removeMapLocation() {
        this.locationMapDialogBox = false
        this.location.latitude = "0"
        this.location.longitude = "0"
      }
    }
  }
</script>