<template>
  <v-dialog v-model="createServiceDialogBox" width="500" @click.stop="createServiceDialogBox">
    <v-card>
      <v-btn fab small @click="createServiceDialogBox = false" class="float-right ma-3" text>
        <v-icon class="red--text">mdi-close-circle-outline</v-icon>
      </v-btn>
      <v-card-title>
        <span class="title">Service əlavə et</span>
      </v-card-title>
      <form class="pa-5">
        <v-text-field
          v-model="name"
          :error-messages="nameErrors"
          label="Xidmət adını daxil edin"
          required
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="description"
          :error-messages="descriptionErrors"
          label="Xidmət haqqında qısa məlumat daxil edin"
          required
          @input="$v.description.$touch()"
          @blur="$v.description.$touch()"
        ></v-text-field>
        <v-btn
          :loading="loading"
          @click="createService()"
          solo
          :disabled="!formIsValid"
          class="white--text body-2 my-gradient"
          block
        >Əlavə et</v-btn>
      </form>
      <p></p>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout" color="error">
      {{ myerror }}
      <v-btn color="white" text @click="snackbar = false">X</v-btn>
    </v-snackbar>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { mask } from "vue-the-mask";
import { eventBus } from "@/eventbus";

import { APIService } from "@/APIService";
import { mapState, mapActions } from "vuex";

const apiService = new APIService();

export default {
  mixins: [validationMixin],
  directives: {
    mask
  },
  validations: {
    name: { required },
    description: { required }
  },
  data: () => ({
    snackbar: false,
    timeout: 6000,
    myerror: "",
    createServiceDialogBox: false,
    title: "false",
    parentServiceid: null,
    loading: false,
    mask: "###-##-##",
    name: "",
    description: "",
    menu: false,
    modal: false,
    menu2: false
  }),
  created() {
    eventBus.$on("createServiceDialogBox", msg => {
      this.createServiceDialogBox = msg;
    });

    eventBus.$on("title", msg => {
      this.title = msg;
    });

    eventBus.$on("parentServiceid", msg => {
      this.parentServiceid = msg;
    });
  },
  computed: {
    ...mapState([
      "locationMapPositionLat",
      "locationMapPositionLng",
      "reloadVue"
    ]),
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.description.$dirty) return errors;
      !this.$v.description.required && errors.push("Description is required.");
      return errors;
    },
    formIsValid() {
      return this.name && this.description;
    }
  },
  methods: {
    ...mapActions(["updateReloadVue"]),
    createService() {
      this.loading = true;
      if (this.formIsValid) {
        apiService
          .createService({
            name: this.name,
            description: this.description,
            icon: "mdi-briefcase-plus",
            parent: {
              id: this.parentServiceid
            }
          })
          .then(() => {
            this.updateReloadVue(Math.random());
            this.loading = false;
          })
          .catch(error => {
            this.snackbar = true;
            this.loading = false;
            this.myerror = error;
          });
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.description = "";
    }
  }
};
</script>