<template>
  <div class="here-map">
    <v-menu open-on-focus open-on-click bottom offset-y>
      <template v-slot:activator="{ on }">
        <v-toolbar dense floating>
          <v-text-field
            hide-details
            prepend-icon="mdi-search-web"
            single-line
            v-on="on"
            v-model="query"
            @input="places(query)"
          ></v-text-field>
          <!-- <v-btn icon @click="findMyLocation()">
                        <v-icon>mdi-target</v-icon>
          </v-btn>-->
        </v-toolbar>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in searchedPlaces"
          :key="index"
          @click="setSelectedPlace(item.title, item.position[0], item.position[1])"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <div ref="map" style="width: 100%; height: 300px"></div>
  </div>
</template>

<script>
/* eslint-disable */
import "here-js-api/scripts/mapsjs-core";
import "here-js-api/scripts/mapsjs-service";
import "here-js-api/scripts/mapsjs-ui";
import "here-js-api/scripts/mapsjs-mapevents";
import "here-js-api/scripts/mapsjs-clustering";
import "here-js-api/scripts/mapsjs-places";

import { mapState, mapGetters, mapActions } from "vuex";

export default {
  name: "HereMap",
  data() {
    return {
      query: "",
      search: {},
      searchedPlaces: [],
      map: {},
      platform: {},
      behavior: {},
      ui: {},
      myLat: "",
      myLong: ""
    };
  },
  computed: {
    ...mapState(["locationMapPositionLat", "locationMapPositionLng"])
  },
  created() {
    this.platform = new H.service.Platform({
      app_id: "XUUSMx9oBAk8kzuERTeW",
      app_code: "Y1stByz55PX5di7q5xd1Aw"
    });

    this.myLat = "40.409244";
    this.myLong = "49.867086";
  },
  mounted() {
    var defaultLayers = this.platform.createDefaultLayers();
    this.map = new H.Map(this.$refs.map, defaultLayers.normal.map, {
      zoom: 5,
      center: { lat: this.myLat, lng: this.myLong }
    });
    this.search = new H.places.Search(this.platform.getPlacesService());
    this.behavior = new H.mapevents.Behavior(
      new H.mapevents.MapEvents(this.map)
    );

    this.map.addEventListener("tap", 
    );
    this.map.setCenter({ lat: this.myLat, lng: this.myLong });
    this.map.setZoom(5);
    this.addDraggableMarker(this.map, this.behavior);
    //this.findMyLocation()
  },

  methods: {
    ...mapActions([
      "updateLocationMapPositionLat",
      "updateLocationMapPositionLng"
    ]),
    addDraggableMarker(map, behavior) {
      var vm = this;
      var marker = new H.map.Marker(
        { lat: this.myLat, lng: this.myLong },
        {
          volatility: true
        }
      );
      marker.draggable = true;
      map.addObject(marker);
      map.addEventListener(
        "dragstart",
        function(ev) {
          var target = ev.target,
            pointer = ev.currentPointer;
          if (target instanceof H.map.Marker) {
            var targetPosition = map.geoToScreen(target.getGeometry());
            target["offset"] = new H.math.Point(
              pointer.viewportX - targetPosition.x,
              pointer.viewportY - targetPosition.y
            );
            behavior.disable();
          }
        },
        false
      );
      map.addEventListener(
        "dragend",
        function(ev) {
          var target = ev.target;
          if (target instanceof H.map.Marker) {
            behavior.enable();
            this.myLat = target.getPosition().lat;
            this.myLong = target.getPosition().lng;
            vm.updateLocationMapPositionLat(this.myLat);
            vm.updateLocationMapPositionLng(this.myLong);
          }
        },
        false
      );
      map.addEventListener(
        "drag",
        function(ev) {
          var target = ev.target,
            pointer = ev.currentPointer;
          if (target instanceof H.map.Marker) {
            target.setGeometry(
              map.screenToGeo(
                pointer.viewportX - target["offset"].x,
                pointer.viewportY - target["offset"].y
              )
            );
          }
        },
        false
      );
    },
    places(query) {
      this.searchedPlaces = [];
      this.map.removeObjects(this.map.getObjects());
      this.search.request(
        { q: query, at: this.myLat + "," + this.myLong },
        {},
        data => {
          for (var i = 0; i < data.results.items.length; i++) {
            this.searchedPlaces.push(data.results.items[i]);
          }
        },
        error => {
        }
      );
    },
    setSelectedPlace(desc, lat, long) {
      this.query = desc;
      this.myLat = lat;
      this.myLong = long;
      this.addDraggableMarker(this.map, this.behavior);
      this.map.setCenter({ lat: lat, lng: long });
      this.map.setZoom(16);

      this.updateLocationMapPositionLat(this.myLat);
      this.updateLocationMapPositionLng(this.myLong);
    },
    findMyLocation() {
      this.map.removeObjects(this.map.getObjects());
      this.$getLocation().then(coordinates => {
        this.myLat = coordinates.lat;
        this.myLong = coordinates.lng;
        this.map.setCenter({ lat: this.myLat, lng: this.myLong });
        this.map.setZoom(16);
        this.addDraggableMarker(this.map, this.behavior);
      });
    }
  }
};
</script>

<style scoped></style>