<template>
  <nav>
    <v-app-bar class="app-bar my-gradient" app dark>
      <v-icon @click="checkMenu()">{{navBarIcon}}</v-icon>
      <v-toolbar-title v-if="mainTitle.length > 10" class="ml-2 caption">{{mainTitle}}</v-toolbar-title>
      <v-toolbar-title v-else class="ml-5 body-2">{{mainTitle}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text fab @click="goToBookingRequests()" icon>
        <v-badge overlap class="align-self-center">
          <template v-slot:badge>
            <span>{{pendingBookingRequests.length}}</span>
          </template>
          <v-icon>mdi-mail</v-icon>
        </v-badge>
      </v-btn>
      <v-btn @click="openShare()" text icon>
        <v-icon>mdi-share-variant</v-icon>
      </v-btn>
      <v-btn @click="reload()" text icon>
        <v-icon :class="loading" dark>mdi-refresh</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary style="position: fixed">
      <v-list-item style="height: 150px;" dark class="my-gradient">
        <v-list-item-avatar color="indigo" size="70">
          <v-icon dark>mdi-account-circle</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{user.data.user.name}} {{user.data.user.surname}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item-group v-model="item" color="primary">
          <v-list-item v-for="(item, i) in items" :key="i" :to="item.link" @click="drawer = false">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item v-if="isAdmin" to="/service">
            <v-list-item-icon>
              <v-icon>mdi-briefcase-plus</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Xidmətlərin idarəsi</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logOut()">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Çıxış</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <Share></Share>
  </nav>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { APIService } from "@/APIService";

const apiService = new APIService();
import Share from "@/components/Share";
import { eventBus } from "@/eventbus";

export default {
  components: { Share },

  data: () => ({
    drawer: false,
    menu: true,
    pendingBookingRequests: [],
    loading: "",
    item: 0,
    items: [
      { title: "Ana Səhifə", icon: "mdi-home", link: "/" },
      // { title: 'Profil', icon: 'mdi-account-edit', link: '/edit-profile' },
      {
        title: "Profilim",
        icon: "mdi-account",
        link: "/edit-profile"
      },
      {
        title: "Kalendarım",
        icon: "mdi-calendar-month-outline",
        link: "/my-calendar"
      },
      {
        title: "Növbələrim",
        icon: "mdi-format-list-bulleted",
        link: "/my-bookings"
      },
      {
        title: "Xidmət ver",
        icon: "mdi-folder-plus",
        link: "/add-self-service"
      },
      {
        title: "Şirkətlərim",
        icon: "mdi-office-building",
        link: "/company"
      },
      {
        title: "Favoritlərim",
        icon: "mdi-star",
        link: "/favorites"
      }

      //{ title: 'Xidmət əlavə et', icon: 'mdi-briefcase-plus', link: '/service', auth: "ADMIN" },
      // { title: 'Location map', icon: 'mdi-export', link: '/location-map' },
      // { title: 'Dəvət göndər', icon: 'mdi-export', link: '/send-invitation' },
    ]
  }),
  mounted() {
    this.getPendingBookingRequestsByWorkerId();
  },
  methods: {
    ...mapActions(["updateReloadVue"]),
    logOut() {
      localStorage.removeItem("token");
      localStorage.removeItem("isAdmin");
      localStorage.removeItem("user");
      this.$router.go();
    },
    reload() {
      this.updateReloadVue(Math.random());
      this.loading = "mdi-spin";
    },
    checkMenu() {
      if (this.navBarIcon == "mdi-menu") {
        this.drawer = !this.drawer;
      } else {
        this.$router.go(-1);
      }
    },
    goToHome() {
      if (this.$router.history.current.name != "Home") this.$router.push("/");
    },
    getPendingBookingRequestsByWorkerId() {
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getPendingBookingRequestsByWorkerId(userId)
        .then(response => {
          this.pendingBookingRequests = response.data.data;
        })
        .catch(() => {});
    },
    goToBookingRequests() {
      this.$router.push("/booking-requests");
    },
    openShare() {
      eventBus.$emit("shareBottomSheet", true);
    }
  },
  computed: {
    ...mapState(["user", "reloadVue", "navBarIcon", "mainTitle"]),
    isAdmin() {
      return localStorage.getItem("isAdmin");
    }
  }
};
</script>

<style scoped>
.app-bar {
  border-radius: 0 0 20px 20px;
}
</style>