<template>
    <div>
        <v-dialog v-model="dialog" max-width="500" @click.stop="dialog" persistent>
            <v-card :loading="loading">
                <v-toolbar elevation="0">
                    <div class="flex-grow-1"></div>
                    <v-btn icon @click="dialog = false" text fab class="red--text">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-title>
                    <span class="title">Xidmət seçin</span>
                </v-card-title>
                <v-list shaped>
                    <v-list-item-group v-model="model" multiple>
                        <template v-for="(item, i) in customServices">
                            <v-list-item :key="`item-${i}`" :value="item"
                                active-class="deep-purple--text text--accent-4">
                                <template v-slot:default="{ active, toggle }">
                                    <v-list-item-content>
                                        <v-list-item-title>{{item.service.name}}</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-content>
                                        <v-list-item-title>Qiymət: {{item.price}}</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-content>
                                        <v-list-item-title>Zaman: {{item.duration}} dəq</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                        <v-checkbox :input-value="active" :true-value="item"
                                            color="deep-purple accent-4" @click="toggle"></v-checkbox>
                                    </v-list-item-action>
                                </template>
                            </v-list-item>
                        </template>
                    </v-list-item-group>
                </v-list>
                <v-card-text>
                    Ümumi məbləğ: {{calculatedPrice}} AZN
                </v-card-text>
                <v-btn :disabled="model.length == 0" @click="setWorkerCalendar(user.id)" block class="green">
                    Növbəyə
                    yazıl</v-btn>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showWorkerCalendarDialog">
            <!-- <v-btn @click="showWorkerCalendarDialog = false">Bağla</v-btn> -->
            <v-btn fixed elevation="0" x-small fab right top @click="showWorkerCalendarDialog = false"
                class="mt-6 mr-8">
                <v-icon class="red--text">mdi-close</v-icon>
            </v-btn>
            <WorkerCalendar v-if="showWorkerCalendar"></WorkerCalendar>
        </v-dialog>
    </div>
</template>

<script>
    import { eventBus } from '@/eventbus'
    import { APIService } from '@/APIService';
    const apiService = new APIService();
    import { mapState, mapActions } from 'vuex'
    import WorkerCalendar from '@/views/Calendars/WorkerCalendarClientSide.vue'


    export default {
        components: {
            WorkerCalendar,
        },
        data() {
            return {
                dialog: false,
                user: {},
                model: [],
                customServices: [],
                loading: false,
                showWorkerCalendarDialog: false,
                showWorkerCalendar: false
            }
        },
        created() {
            this.loading = true
            //listening for the custom event
            eventBus.$on('setSelectServicesDialog', (msg) => {
                this.dialog = msg
            })
            eventBus.$on('user', (msg) => {
                this.user = msg
                this.getCustomServices(msg.id)
            })
        },
        methods: {
            ...mapActions([
                'updateWorkerCalendarWorkerId',
                'updateSearchedAvailableTime',
            ]),
            getCustomServices(id) {
                this.loading = true
                this.customServices = [],
                    apiService.getCustomServices(id, false).then((response) => {
                        this.customServices = response.customServices
                        this.loading = false
                    }).catch(() => {
                        this.loading = false
                    })
            },
            calculatedDuration() {
                var duration = 0
                this.model.forEach(element => {
                    duration += element.duration
                });
                return duration
            },

            setWorkerCalendar(id) {

                this.showWorkerCalendarDialog = true
                this.showWorkerCalendar = false
                this.updateSearchedAvailableTime(this.calculatedDuration())
                this.updateWorkerCalendarWorkerId(id)
                window.setInterval(() => {
                    this.showWorkerCalendar = true
                }, 500);

            }
        },
        computed: {
            calculatedPrice() {
                var totalPrice = 0
                this.model.forEach(element => {
                    totalPrice += element.price
                });
                return totalPrice
            },
            ...mapState([
                'workerCalendarWorkerId',
                'searchedAvailableTime',
            ]),
        }
    }
</script>