<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" width="500" @click.stop="dialog" persistent>
      <v-card class="pa-5" width="500">
        <v-card-text>
          <b>
            Seçdiyiniz xidmət(lər) üçün
            <b>{{availableStart}}</b> və
            <b>{{availableEnd}}</b> aralığnda bir
            zaman təyin edin
          </b>
        </v-card-text>
        <v-layout row wrap class="pa-5">
          <v-flex xs5>
            <v-dialog
              ref="dialogStartDate"
              v-model="modalStartDate"
              :return-value.sync="startDate"
              persistent
              full-width
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="startDate"
                  label="Başlama tarixi"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="startDate" scrollable>
                <div class="flex-grow-1"></div>
                <v-btn text color="primary" @click="modalStartDate = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialogStartDate.save(startDate)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs5>
            <v-dialog
              ref="dialogStartTime"
              v-model="time1model"
              :return-value.sync="start"
              persistent
              full-width
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="start"
                  label="Başlama saatı"
                  prepend-icon="mdi-clock mdi-spin"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker v-if="time1model" v-model="start" full-width format="24hr">
                <div class="flex-grow-1"></div>
                <v-btn text color="primary" @click="time1model = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialogStartTime.save(start)">OK</v-btn>
              </v-time-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs12>
            Seçdiyiniz xidmətlər üçün gərəkən zaman
            <b>
              <i>
                <span v-if="Math.floor(searchedAvailableTime/60) > 0">
                  {{Math.floor(searchedAvailableTime/60)}}
                  saat
                </span>
                {{searchedAvailableTime%60}} dəq
              </i>
            </b>
          </v-flex>
          <v-flex xs12>
            Seçdiyiniz tarix aralığı:
            <b>
              <i>{{startDate}} {{start}}</i>
            </b> və
            <b>
              <i>{{endTime}}</i>
            </b>
          </v-flex>
        </v-layout>
        <v-alert :value="!isValidTime" type="error">
          <p>Seçilmiş zaman {{availableStart}} və {{availableEnd}} aralığnda olmalıdır.</p>
        </v-alert>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog = false">Ləğv et</v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="saveBookingTime(workId)"
            :loading="loading"
          >Bron et</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { eventBus } from "@/eventbus";
import { APIService } from "@/APIService";
import { mapState, mapActions } from "vuex";

const apiService = new APIService();
export default {
  data() {
    return {
      workId: null,
      dialog: false,
      time: "",
      isValidTime: true,
      availableStart: "",
      availableEnd: "",
      dialogStartDate: false,
      startDate: new Date().toISOString().substr(0, 10),
      modalStartDate: false,
      start: "09:00",
      time1model: false,
      time2model: false,
      loading: false
    };
  },
  created() {
    //listening for the custom event
    eventBus.$on("setSelectTimeDialog", msg => {
      this.dialog = msg;
    });

    eventBus.$on("time", msg => {
      this.workId = msg.id;
      this.availableStart = msg.start;
      this.availableEnd = msg.end;
    });
  },
  methods: {
    ...mapActions(["updateReloadVue"]),
    saveBookingTime(workId) {
      this.loading = true;
      var userId = JSON.parse(localStorage.getItem("user")).id;

      apiService
        .saveBookingTimes({
          customer: {
            id: userId
          },
          work: {
            id: workId
          },
          bookingPeriod: {
            start: this.startDate + " " + this.start,
            end: this.endTime
          },
          companyId: this.selectedCompany.id,
          customServices: this.selectedServices
        })
        .then(() => {
          this.updateReloadVue(Math.random());
          this.loading = false;
        })
        .catch(() => {
          this.isValidTime = false;
          this.loading = false;
        });
    }
  },
  computed: {
    ...mapState([
      "searchedAvailableTime",
      "workerCalendarWorkerId",
      "selectedServices",
      "selectedCompany",
      "reloadVue"
    ]),

    endTime() {
      this.isValidTime = true;
      var date = new Date((this.startDate + " " + this.start).replace(/-/g, '/'));
      var newdate = new Date(
        date.getTime() +
          this.searchedAvailableTime * 60000 -
          date.getTimezoneOffset() * 60000
      ).toISOString();
      var ymd = newdate.slice(0, 10);
      var time = newdate.slice(11, 16);
      return ymd + " " + time
    }
  }
};
</script>