<template>
  <div >
    <v-bottom-sheet v-model="sheet">
      <v-card>
        <social-sharing
          url="http://bookingapp.nspsolutions.net/"
          title="Booking app yüklə"
          description="Yer book etmək üçün app"
          quote="Booking app yer book etmək üçün appdir"
          hashtags="booking, takeq"
          twitter-user="takeq"
          inline-template
        >
          <div class="text-center">
            <network network="email">
              <div>
                <span class="mdi mdi-email"></span>
                Email
              </div>
            </network>
            <network network="facebook">
              <div>
                <span class="mdi mdi-facebook"></span>
                Facebook
              </div>
            </network>
            <network network="googleplus">
              <div>
                <span class="mdi mdi-google-plus"></span>
                Google +
              </div>
            </network>
            <network network="linkedin">
              <div>
                <span class="mdi mdi-linkedin"></span>
                LinkedIn
              </div>
            </network>
            <network network="odnoklassniki">
              <div>
                <span class="mdi mdi-odnoklassniki"></span>
                Odnoklassniki
              </div>
            </network>
            <network network="skype">
              <div>
                <span class="mdi mdi-skype"></span>
                Skype
              </div>
            </network>
            <network network="twitter">
              <div>
                <span class="mdi mdi-twitter"></span>
                Twitter
              </div>
            </network>
            <network network="whatsapp">
              <div>
                <span class="mdi mdi-whatsapp"></span>
                Whatsapp
              </div>
            </network>
          </div>
        </social-sharing>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { eventBus } from "@/eventbus";

export default {
  data: () => ({
    sheet: false
  }),
  created() {
    eventBus.$on("shareBottomSheet", msg => {
      this.sheet = msg;
    });
  }
};
</script>