<template>
    <v-bottom-navigation :value="activeBtn" color="deep-purple" horizontal>
        <v-btn @click="updatelogOrReg(true)">
            <span>Daxil ol</span>
            <v-icon>mdi-login</v-icon>
        </v-btn>

        <v-btn @click="updatelogOrReg(false)">
            <span>Qeydiyyatdan keç</span>
            <v-icon>mdi-file-document-edit-outline</v-icon>
        </v-btn>
    </v-bottom-navigation>
</template>


<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        computed: {
            ...mapState([
                'logOrReg'
            ]),
            activeBtn() {
                if (this.logOrReg)
                    return 0
                else
                    return 1
            }
        },
        methods: {
            ...mapActions([
                'updatelogOrReg',
            ]),
            updateLogOrReg(updatelogOrReg) {
                this.updatelogOrReg(updatelogOrReg)

            },
        }
    }
</script>