<template>
  <div>
    <div v-if="allevents.length == 0 || loading">
      <v-card>
        <v-card-text v-if="loading">Yuklenir...</v-card-text>
        <v-card-text v-if="allevents.length == 0 && !loading">Vaxt əlavə olunmayıb</v-card-text>
      </v-card>
    </div>
    <vue-cal
      v-else
      :on-event-click="eventClicked"
      todayButton
      xsmall
      :selected-date="selectedDate"
      :events="allevents"
      :disable-views="['years', 'year']"
      locale="az"
    >
      <template v-slot:event-renderer="{ event, view }">
        <p></p>
      </template>
    </vue-cal>

    <AddTimeTableDialogBox></AddTimeTableDialogBox>
    <bookingDetailsWorkerDialogBox></bookingDetailsWorkerDialogBox>
    <v-btn fixed dark fab bottom right color="pink" @click="setAddTimeTableDialogBoxDialog()">
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <v-dialog v-model="dialog" width="300">
      <v-card>
        <div class="text-center" v-if="event != null">
          <v-list>
            <v-list-item>
              <v-list-item-avatar color="indigo" class="ma-0">
                <v-icon dark>mdi-account-circle</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{event.data.customer.name}} {{event.data.customer.surname}}</v-list-item-title>
                <v-list-item-subtitle>
                  <v-icon small>mdi-contact-phone</v-icon>
                  {{event.data.customer.phoneNumber}}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon small>mdi-mail</v-icon>
                  {{event.data.customer.email}}
                </v-list-item-subtitle>

                <div class="text-center">
                  <v-chip
                    class="ma-1"
                    :key="i.id"
                    x-small
                    v-for="i in event.data.customServices"
                  >{{i.service.name}}</v-chip>
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-btn class="ma-2" text icon color="green lighten-2" @click="acceptBookingRequest()">
            <v-icon>mdi-check</v-icon>
          </v-btn>
          <v-btn class="ma-2" text icon color="red lighten-2" @click="showDialog()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="dialog = false">Bagla</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog2" persistent max-width="290">
      <v-card>
        <v-text-field
          v-model="rejectMessage"
          label="Rədd səbəbini yazın"
          class="pa-5"
          filled
          shaped
        ></v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="rejectMessage.length > 0"
            color="green darken-1"
            text
            @click="rejectBookingRequest()"
          >Gonder</v-btn>
          <v-btn text @click="dialog2 = false">Bagla</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import VueCal from "vue-cal";
import "vue-cal/dist/i18n/az.js";
import "vue-cal/dist/vuecal.css";
import { eventBus } from "@/eventbus";
import AddTimeTableDialogBox from "@/components/AddTimeTableDialogBox";
import bookingDetailsWorkerDialogBox from "@/components/BookingDetailsWorkerDialogBox";
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapActions } from "vuex";

export default {
  components: { VueCal, AddTimeTableDialogBox, bookingDetailsWorkerDialogBox },
  data: () => ({
    selectedDate: new Date().toISOString().slice(0, 10),
    searchedTime: 1,
    hideCalendarBody: true,
    works: [],
    loading: false,
    yoxlaevent: "",
    dialog: false,
    dialog2: false,
    rejectMessage: "",
    rejectId: "",
    event: null
  }),
  mounted() {
    this.updateMainTitle("Calendarım");
    this.loading = true;
    this.getAvailableAndBookedTimes();
  },
  computed: {
    allevents() {
      var array = [];
      for (var work of this.works) {
        for (var availableTime of work.availableTimes) {
          array.push({
            start: availableTime.start,
            end: availableTime.end,
            class: "work"
          });
        }
        for (var booking of work.bookings) {
          array.push({
            id: booking._id,
            start: booking.bookingPeriod.start,
            end: booking.bookingPeriod.end,
            class: booking.className,
            data: booking
          });
        }
      }
      return array;
    }
  },
  methods: {
    ...mapActions(["updateMainTitle"]),
    eventClicked(e) {
      if (e.class == "pending") {
        this.dialog = true;
        this.event = e;
      }
    },
    getAvailableAndBookedTimes() {
      var userId = JSON.parse(localStorage.getItem("user")).id;
      apiService
        .getAvailableAndBookedTimes(userId)
        .then(response => {
          this.works = response.works;
          this.loading = false;
        })
        .catch(() => {});
    },
    setAddTimeTableDialogBoxDialog() {
      eventBus.$emit("setAddTimeTableDialog", true);
    },
    acceptBookingRequest() {
      var id = this.event.id;
      apiService
        .acceptBookingRequest(id)
        .then(() => {
          this.getAvailableAndBookedTimes();
          this.dialog = false;
        })
        .catch();
    },
    rejectBookingRequest() {
      var id = this.event.id;
      apiService
        .rejectBookingRequest(id, this.rejectMessage)
        .then(() => {
          this.getAvailableAndBookedTimes();
          this.dialog2 = false;
        })
        .catch(() => {});
    },
    showDialog() {
      this.rejectId = this.event.id;
      this.dialog = false;
      this.dialog2 = true;
    }
  }
};
</script>
<style>
.vuecal .vuecal__no-event {
  display: none;
}

.vuecal {
  background: white;
}

.vuecal__event.booking {
  background-color: rgba(255, 0, 0, 0.938);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.pending {
  background-color: rgb(229, 255, 0);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.work {
  background-color: rgba(24, 207, 0, 0.781);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}
.vuecal__menu,
.vuecal__cell-events-count {
  background: rgb(0, 172, 225);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 172, 225, 1) 0%,
    rgba(0, 172, 225, 1) 1%,
    rgba(2, 103, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 172, 225, 1) 0%,
    rgba(0, 172, 225, 1) 1%,
    rgba(2, 103, 136, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 172, 225, 1) 0%,
    rgba(0, 172, 225, 1) 1%,
    rgba(2, 103, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ace1",endColorstr="#026788",GradientType=1);
}

.vuecal__menu button {
  border-bottom-color: #fff;
  color: #fff;
}

.vuecal__menu button.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.vuecal__title-bar {
  background: white;
}

.vuecal__cell.today,
.vuecal__cell.current {
  background-color: rgba(240, 240, 255, 0.4);
}

.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
  background-color: rgba(235, 255, 245, 0.4);
}

.vuecal__cell.selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}
</style>