<template>
  <div>
<div v-if="allevents.length == 0 || loading">
      <v-card>
        <v-card-text v-if="loading">Yuklenir...</v-card-text>
        <v-card-text v-if="allevents.length == 0 && !loading">Vaxt əlavə olunmayıb</v-card-text>
      </v-card>
    </div>
    <vue-cal
      v-else
      :hideBody="hideCalendarBody"
      todayButton
      xsmall
      :selected-date="selectedDate"
      :events="allevents"
      locale="az"
      :disable-views="['years', 'year']"
    >
      <template v-slot:event-renderer="{}">
        <!-- <p></p> -->
        <p></p>
      </template>
    </vue-cal>
</div>
</template>
<script>
import VueCal from "vue-cal";
import "vue-cal/dist/i18n/az.js";
import "vue-cal/dist/vuecal.css";
import { eventBus } from "@/eventbus";
import SelectTimeDialogBox from "@/components/SelectTimeDialogBox";
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapState } from "vuex";

export default {
  components: { VueCal, SelectTimeDialogBox },
  data: () => ({
    selectedDate: new Date().toISOString().slice(0, 10),
    searchedTime: 0,
    hideCalendarBody: true,
    events: [],
    events1: [],
    loading: false,
    yoxlaevent: ""
  }),
  mounted() {
    this.loading = true;
    var userId = this.workerCalendarWorkerId;
    apiService
      .getAvailableAndBookedTimes(userId)
      .then(response => {
        this.addToArray(response.works);
        this.events1 = response.works;
        this.loading = false;
      })
      .catch(() => {});
  },
  computed: {
    ...mapState(["workerCalendarWorkerId"]),
    allevents() {
      var array = [];
      for (var event of this.events1) {
        if (event.bookings.length == 0)
          this.pushToArray(
            array,
            event.workHours.start,
            event.workHours.end,
            event.className
          );
        else {
          for (var booking of event.bookings)
            this.pushToArray(
              array,
              booking.bookingPeriod.start,
              booking.bookingPeriod.end,
              booking.className
            );
          this.pushToArray(
            array,
            event.workHours.start,
            event.bookings[0].bookingPeriod.start,
            event.className
          );
          this.pushToArray(
            array,
            event.bookings[event.bookings.length - 1].bookingPeriod.end,
            event.workHours.end,
            event.className
          );
          for (let a = 0; a < event.bookings.length - 1; a++)
            this.pushToArray(
              array,
              event.bookings[a].bookingPeriod.end,
              event.bookings[a + 1].bookingPeriod.start,
              event.className
            );
        }
      }
      return array;
    }
  },
  methods: {
    addToArray(events) {
      for (var event of events) {
        this.events.push({
          start: event.workHours.start,
          end: event.workHours.end,
          class: event.className
        });
      }
    },
    setSelectTimeDialogBox(event) {
      eventBus.$emit("setSelectTimeDialog", true);
      eventBus.$emit("title", event.title);
    },
    pushToArray(arrayName, eventStart, eventEnd, eventClass) {
      var duration = this.differenceMinutes(eventStart, eventEnd);
      if (eventEnd.slice(11, 16) == "00:00") {
        if (/*@cc_on!@*/ false || !!document.documentMode) {
          eventEnd = eventEnd.slice(0, 10) + " " + "00:01";
        } else {
          var endDate = this.addDaysToTime(eventEnd.slice(0, 10), -1);
          eventEnd = endDate + " " + "24:00";
        }
      }
      if (eventClass == "bookings" || this.searchedTime <= duration)
        arrayName.push({
          start: eventStart,
          end: eventEnd,
          class: eventClass
        });
      this.checkBrowser();
    },
    differenceMinutes(date1, date2) {
      if (/*@cc_on!@*/ false || !!document.documentMode) {
        date1 = this.internetExplorerTimeFormat(date1);
        date2 = this.internetExplorerTimeFormat(date2);
      }
      var d1 = new Date(date1.replace(/-/g, '/'));
      var d2 = new Date(date2.replace(/-/g, '/'));
      var diffTime = Math.abs(d2 - d1);
      diffTime = Math.ceil(diffTime / (1000 * 60));
      return diffTime;
    },
    checkBrowser() {
      if (/*@cc_on!@*/ false || !!document.documentMode) {
        window.setInterval(() => {
          this.hideCalendarBody = false;
        }, 500);
      } else {
        this.hideCalendarBody = false;
      }
    },
    internetExplorerTimeFormat(date) {
      var day = date.slice(8, 10);
      var month = date.slice(5, 7);
      var year = date.slice(0, 4);
      var time = date.slice(11);
      return month + "/" + day + "/" + year + " " + time;
    },
    addDaysToTime(date, day) {
      var dd = new Date(new Date(date.replace(/-/g, '/')).getTime() + day * 24 * 60 * 60000);
      var ddDate = "" + dd.getDate();
      if (ddDate.length < 2) ddDate = "0" + ddDate;
      var ddMonth = "" + (dd.getMonth() + 1);
      if (ddMonth.length < 2) ddMonth = "0" + ddMonth;
      var ddYear = dd.getFullYear();
      return ddYear + "-" + ddMonth + "-" + ddDate;
    }
  }
};
</script>
<style scoped>
.vuecal .vuecal__no-event {
  display: none;
}

.vuecal {
  background: white;
}

.vuecal__event.booking {
  background-color: rgba(153, 153, 153, 0.9);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.pendings {
  background-color: rgba(153, 153, 153, 0.9);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.work {
  background-color: rgba(24, 207, 0, 0.781);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__menu,
.vuecal__cell-events-count {
  background-color: #42b983;
}

.vuecal__menu button {
  border-bottom-color: #fff;
  color: #fff;
}

.vuecal__menu button.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.vuecal__title-bar {
  background-color: #e4f5ef;
}

.vuecal__cell.today,
.vuecal__cell.current {
  background-color: rgba(240, 240, 255, 0.4);
}

.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
  background-color: rgba(235, 255, 245, 0.4);
}

.vuecal__cell.selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}
</style>