<template>
  <div>
    <div v-if="allevents.length == 0 || loading">
      <v-card>
        <v-card-text v-if="loading">Yuklenir...</v-card-text>
        <v-card-text v-if="allevents.length == 0 && !loading">Vaxt əlavə olunmayıb</v-card-text>
      </v-card>
    </div>
    <vue-cal
      v-else
      :on-event-click="setSelectTimeDialogBox"
      todayButton
      xsmall
      :selected-date="selectedDate"
      :events="allevents"
      :disable-views="['years', 'year']"
      locale="az"
    >
      <template v-slot:event-renderer="{}">
        <p></p>
      </template>
    </vue-cal>
    <SelectTimeDialogBox></SelectTimeDialogBox>
  </div>
</template>
<script>
import VueCal from "vue-cal";
import "vue-cal/dist/i18n/tr.js";
import "vue-cal/dist/vuecal.css";
import { eventBus } from "@/eventbus";
import SelectTimeDialogBox from "@/components/SelectTimeDialogBox";
import { APIService } from "@/APIService";
const apiService = new APIService();
import { mapState, mapActions } from "vuex";

export default {
  components: { VueCal, SelectTimeDialogBox },
  data: () => ({
    selectedDate: null,
    hideCalendarBody: true,
    works: [],
    loading: false
  }),
  created() {
    if (this.workerCalendarWorkerId == null) {
      this.$router.push("/");
      this.selectedDate = new Date().toISOString().slice(0, 10)
    }
  },
  mounted() {
    this.updateNavBarIcon("mdi-keyboard-backspace");
    if (this.selectedCompany)
      this.updateMainTitle(
        this.selectedCompany.name +
          " - " +
          this.selectedServicer.name +
          " " +
          this.selectedServicer.surname
      );
    else
      this.updateMainTitle(
        "Fərdi: " +
          " - " +
          this.selectedServicer.name +
          " " +
          this.selectedServicer.surname
      );
    this.loading = true;
    var userId = this.workerCalendarWorkerId;

    var companyId = null
    if (this.selectedCompany.id != null) companyId = this.selectedCompany.id; else companyId = -1
    apiService
      .getAvailableAndBookedTimesByCompanyId(userId, companyId)
      .then(response => {
        this.works = response.works;
        this.loading = false;
      })
      .catch((error) => {
        console.log(error.response)
      });
  },
  computed: {
    ...mapState([
      "navBarIcon",
      "workerCalendarWorkerId",
      "searchedAvailableTime",
      "selectedCompany",
      "selectedServicer"
    ]),
    allevents() {
      var array = [];
      for (var work of this.works) {
        for (var availableTime of work.availableTimes) {
          if(((new Date((availableTime.end).replace(/-/g, '/')).getTime() - new Date((availableTime.start).replace(/-/g, '/')).getTime())/60000) >= this.searchedAvailableTime){
          array.push({
            id: work._id,
            start: availableTime.start,
            end: availableTime.end,
            class: "work"
          });
          }
        }
        for (var booking of work.bookings) {
          array.push({
            start: booking.bookingPeriod.start,
            end: booking.bookingPeriod.end,
            class: booking.className
          });
        }
      }
      return array;
    }
  },
  methods: {
    ...mapActions(["updateNavBarIcon", "updateMainTitle"]),
    setSelectTimeDialogBox(event) {
      if(event.class == 'work')
      eventBus.$emit("setSelectTimeDialog", true);
      eventBus.$emit("time", event);
    }
  }
};
</script>
<style scoped>
.vuecal .vuecal__no-event {
  display: none;
}

.vuecal {
  background: white;
}

.vuecal__event.booking {
  background-color: rgba(255, 0, 0, 0.9);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.pending {
  background-color: rgba(38, 0, 255, 0.9);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__event.work {
  background-color: rgba(24, 207, 0, 0.781);
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}

.vuecal__menu,
.vuecal__cell-events-count {
  background-color: #42b983;
}

.vuecal__menu button {
  border-bottom-color: #fff;
  color: #fff;
}

.vuecal__menu button.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.vuecal__title-bar {
  background-color: #e4f5ef;
}

.vuecal__cell.today,
.vuecal__cell.current {
  background-color: rgba(240, 240, 255, 0.4);
}

.vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
  background-color: rgba(235, 255, 245, 0.4);
}

.vuecal__cell.selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}
</style>