.my-gradient{
    background: rgb(0,172,225);
    background: -moz-linear-gradient(90deg, rgba(0,172,225,1) 0%, rgba(0,172,225,1) 1%, rgba(2,103,136,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,172,225,1) 0%, rgba(0,172,225,1) 1%, rgba(2,103,136,1) 100%);
    background: linear-gradient(90deg, rgba(0,172,225,1) 0%, rgba(0,172,225,1) 1%, rgba(2,103,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ace1",endColorstr="#026788",GradientType=1);
}