<template>
  <v-app :key="reloadVue">
    <!-- <div style="height: 100%; background: rgb(14,116,139);
    background: linear-gradient(135deg, rgba(14,116,139,1) 50%, rgba(7,108,137,1) 50%);">-->
    <div v-if="isOnline">
      <div v-if="loggedin">
        <nav-bar></nav-bar>
      </div>
      <div v-if="token">
        <v-content v-if="loggedin">
          <v-scroll-x-transition hide-on-leave>
            <LoadingPage v-if="loadingPage"></LoadingPage>
            <router-view v-else></router-view>
          </v-scroll-x-transition>
        </v-content>
        <LoadingPage v-else></LoadingPage>
        <v-snackbar v-model="snack" top right>
          {{ notification.message }}
          <v-btn color="pink" text @click="snack = false">Close</v-btn>
        </v-snackbar>
      </div>
      <div v-else>
        <v-app-bar class="app-bar my-gradient" app dark>
          <v-toolbar-title class="ml-2 text-center">{{title}}</v-toolbar-title>
        </v-app-bar>
        <v-scroll-x-transition hide-on-leave>
          <SignIn v-if="logOrReg"></SignIn>
          <SignUp v-else></SignUp>
        </v-scroll-x-transition>
      </div>
    </div>
    <NoInternetLoadingPage v-else></NoInternetLoadingPage>
  </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";
import NavBar from "@/components/NavBar";
import NoInternetLoadingPage from "@/components/NoInternetLoadingPage";
import LoadingPage from "@/components/LoadingPage";
import SignIn from "@/views/Auth/SignIn";
import SignUp from "@/views/Auth/SignUp";
import { APIService } from "@/APIService";
import { mainTitle } from "@/variables.js";
import Pusher from "pusher-js";

const apiService = new APIService();

export default {
  name: "App",
  data() {
    return {
      loggedin: false,
      token: false,
      switch1: false,
      snack: false
    };
  },
  components: {
    NavBar,
    NoInternetLoadingPage,
    LoadingPage,
    SignIn,
    SignUp
  },
  mounted() {
    if (localStorage.getItem("token") !== null) {
      this.token = true;
    } else {
      this.token = false;
    }
    if (localStorage.getItem("reload") == "true") {
      localStorage.setItem("reload", "false");
      setTimeout(function() {
        location.reload();
      }, 2000);
    }

    if (localStorage.getItem("token") !== null) {
      apiService
        .getUserData(JSON.parse(localStorage.getItem("user")).id)
        .then(response => {
          this.updateUserData(response);
          if (response.data.user === null) {
            localStorage.removeItem("token");
            this.$router.go();
            this.loggedin = false;
          } else this.loggedin = true;
        })
        .catch(() => {});
    } else {
      this.loggedin = false;
    }
    if (this.navBarIcon != "mdi-keyboard-backspace") {
      this.updateNavBarIcon("mdi-menu");
      this.updateMainTitle(mainTitle);
    }
  },
  computed: {
    ...mapState([
      "user",
      "loadingPage",
      "logOrReg",
      "reloadVue",
      "navBarIcon",
      "mainTitle",
      "notification"
    ]),
    title() {
      if (this.logOrReg) return "Daxil ol";
      else return "Qeydiyyat";
    }
  },
  methods: {
    ...mapActions([
      "updateNavBarIcon",
      "updateMainTitle",
      "updateUserData",
      "updateNotification"
    ])
  },
  created() {
    var pusher = new Pusher("c5112a4333af162d57d2", {
      cluster: "eu",
      forceTLS: true
    });
    var id = JSON.parse(localStorage.getItem("user")).id;
    var vm = this;
    console.log(id);

    var channel = pusher.subscribe("channel-user-" + id);
    channel.bind("booking-request-reject-event", function(data) {
      console.log(JSON.parse(data.message));
      vm.updateNotification({
        message: "Istək rədd edildi"
      });
      vm.snack = true;
    });

    channel.bind("booking-request-accept-event", function(data) {
      console.log(JSON.parse(data.message));
      vm.updateNotification({
        message: "İstək qəbul edildi"
      });
      vm.snack = true;
    });

    channel.bind("booking-request-create-event", function(data) {
      console.log(JSON.parse(data.message));
      vm.updateNotification({
        message: "Yeni booking istəyi"
      });
      vm.snack = true;
    });
  }
};
</script>

<style scoped>
.app-bar {
  border-radius: 0 0 20px 20px;
}
</style>