<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card :loading="loading">
        <v-card-title>
          <span class="title">Profilim</span>
        </v-card-title>
        <form class="pa-4">
          <v-text-field
            :readonly="disableName"
            :append-icon="disableName ? 'mdi-pencil-off-outline' : 'mdi-pencil-outline'"
            @click:append="disableName = !disableName"
            v-model="name"
            :error-messages="nameErrors"
            label="Ad"
            required
            solo-inverted
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
          <v-text-field
            :readonly="disableSurname"
            :append-icon="disableSurname ? 'mdi-pencil-off-outline' : 'mdi-pencil-outline'"
            solo-inverted
            @click:append="disableSurname = !disableSurname"
            v-model="surname"
            :error-messages="surnameErrors"
            label="Soyad"
            required
            @input="$v.surname.$touch()"
            @blur="$v.surname.$touch()"
          ></v-text-field>
          <v-text-field
            :readonly="disableEmail"
            solo-inverted
            :append-icon="disableEmail ? 'mdi-pencil-off-outline' : 'mdi-pencil-outline'"
            @click:append="disableEmail = !disableEmail"
            v-model="email"
            :error-messages="emailErrors"
            label="E-mail"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>
          <v-layout>
            <v-flex xs3>
              <v-text-field v-model="code" disabled solo-inverted></v-text-field>
            </v-flex>
            <v-flex xs4 class="mx-2">
              <v-select
                :readonly="disablePhone"
                v-model="select"
                :items="provaiderCode"
                solo-inverted
                :rules="[v => !!v || 'Item is required']"
                required
              ></v-select>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                :readonly="disablePhone"
                :append-icon="disablePhone ? 'mdi-pencil-off-outline' : 'mdi-pencil-outline'"
                solo-inverted
                @click:append="disablePhone = !disablePhone"
                v-mask="mask"
                v-model="phone"
                :error-messages="phoneErrors"
                label="Telefon"
                required
                autocomplete="phone"
                @input="$v.phone.$touch()"
                @blur="$v.phone.$touch()"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-dialog
            :disabled="disableBirthDate"
            ref="dialog"
            v-model="modal"
            :return-value.sync="date"
            persistent
            full-width
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="date"
                label="Doğum tarixi"
                readonly
                v-on="on"
                autocomplete="birthday"
                solo-inverted
              >
                <template slot="append">
                  <v-icon
                    v-if="disableBirthDate"
                    @click="disableBirthDate = !disableBirthDate"
                  >mdi-pencil-off-outline</v-icon>
                  <v-icon
                    v-if="!disableBirthDate"
                    @click="disableBirthDate = !disableBirthDate"
                  >mdi-pencil-outline</v-icon>
                </template>
              </v-text-field>
            </template>
            <v-date-picker v-model="date" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="modal = false">Ləğv et</v-btn>
              <v-btn text color="primary" @click="$refs.dialog.save(date)">Təsdiqlə</v-btn>
            </v-date-picker>
          </v-dialog>

          <v-container fluid>
            <v-radio-group v-model="gender" row>
              <v-radio label="Kişi" value="male"></v-radio>
              <v-radio label="Qadın" value="female"></v-radio>
            </v-radio-group>
          </v-container>
          <v-scroll-y-transition>
            <v-btn
              @click="editProfileInfo"
              v-if="formIsValid"
              :loading="loading"
              color="blue"
              block
              dark
            >Yadda saxla</v-btn>
          </v-scroll-y-transition>
          <v-card class="mx-auto mt-3">
            <v-btn text block @click="show = !show">
              <v-icon>mdi-key</v-icon>
              <span class="ml-5">Şifrəni dəyiş</span>
              <v-spacer></v-spacer>
              <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>
                <form class="pa-5">
                  <v-text-field v-model="newPassword" label="Yeni şifrə" required></v-text-field>
                  <v-text-field
                    v-model="renewPassword"
                    :error-messages="renewPasswordErrors"
                    label="Yeni şifrə təkrar"
                    required
                    @input="$v.renewPassword.$touch()"
                    @blur="$v.renewPassword.$touch()"
                  ></v-text-field>
                  <v-btn v-if="samePassword" text small @click="changePassword()">
                    Şifrəni dəyiş
                    <v-icon right dark>mdi-key-change</v-icon>
                  </v-btn>
                </form>
              </div>
            </v-expand-transition>
          </v-card>
          <v-btn color="red" class="ma-2 white--text" @click="deleteUserDialog = true">
            Hesabımı sil
            <v-icon right dark>mdi-delete-empty</v-icon>
          </v-btn>
        </form>
      </v-card>
      <v-dialog v-model="deleteUserDialog" persistent max-width="500">
        <v-card>
          <v-card-title>Hesabınızı silmək istədiyinizdən əminsinizmi?</v-card-title>
          <v-card-text>Hesabın silinməsi ....</v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="green darken-1" text @click="deleteUserDialog = false">İmtina</v-btn>
            <v-btn color="red darken-1" text @click="deleteUser()">Sil</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackbarColor">
        {{ myText }}
        <v-btn color="white" text @click="snackbar = false" fab>X</v-btn>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
import { mask } from "vue-the-mask";
import { provaiderCode } from "@/variables.js";

import { mapState, mapActions } from "vuex";

import { APIService } from "@/APIService";

const apiService = new APIService();

export default {
  mixins: [validationMixin],
  directives: {
    mask
  },
  validations: {
    name: { required },
    renewPassword: { required, minLength: minLength(8) },
    surname: { required },
    phone: { required },
    email: { required, email }
  },

  data: () => ({
    gender: null,
    disableName: true,
    disableSurname: true,
    disableEmail: true,
    disablePhone: true,
    disableBirthDate: true,
    show: false,
    deleteUserDialog: false,
    snackbar: false,
    timeout: 6000,
    myText: "",
    loading: true,
    snackbarColor: "",
    mask: "###-##-##",
    name: "",
    newPassword: "",
    renewPassword: "",
    code: "",
    select: "",
    surname: "",
    phone: "",
    email: "",
    userId: "",
    show1: false,
    date: "",
    menu: false,
    modal: false,
    menu2: false,
    provaiderCode: []
  }),

  computed: {
    ...mapState(["user"]),
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    renewPasswordErrors() {
      const errors = [];

      if (this.newPassword != this.renewPassword) {
        errors.push("Şifrələr uyğun deyil.");
      }

      !this.$v.renewPassword.minLength &&
        errors.push("Password must be at least 8 characters long");

      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.required && errors.push("Phone is required.");
      return errors;
    },
    surnameErrors() {
      const errors = [];
      if (!this.$v.surname.$dirty) return errors;
      !this.$v.surname.required && errors.push("Surname is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    formIsValid() {
      return (
        this.name &&
        this.surname &&
        this.date &&
        this.phone.length == 9 &&
        this.emailErrors.length == 0 &&
        this.select
      );
    },
    samePassword() {
      return (
        this.newPassword == this.renewPassword && this.newPassword.length >= 8
      );
    }
  },

  methods: {
    ...mapActions(["updateUserData", "updateMainTitle"]),
    editProfileInfo() {
      this.loading = true;
      if (this.formIsValid) {
        apiService
          .editProfileInfo(
            {
              email: this.email,
              name: this.name,
              surname: this.surname,
              gender: this.gender,
              phoneNumber: "+994" + this.select + "-" + this.phone,
              birthDate: this.date
            },
            this.userId
          )
          .then(response => {
            apiService
              .getUserData(this.userId)
              .then(response => {
                this.updateUserData(response);
              })
              .catch(() => {});
            this.snackbar = true;
            this.snackbarColor = "green";
            if (response.data.status == "success")
              this.myText = "Məlumatlar uğurla dəyişdirildi";
            //window.location = '/edit-profile';
            this.loading = false;
          })
          .catch(() => {
            this.snackbar = true;
            this.snackbarColor = "red";
            //if (error.response.data.status == "error") this.myText = "Bu nömrəli istifadəçi mövcuddur"
            this.loading = false;
          });
      }
    },
    changePassword() {
      this.loading = true;
      if (this.formIsValid) {
        apiService
          .changePassword(
            {
              password: this.newPassword
            },
            this.userId
          )
          .then(response => {
            this.snackbar = true;
            this.snackbarColor = "green";
            if (response.data.status == "success")
              this.myText = "Şifrə uğurla dəyişdirildi";
            //window.location = '/edit-profile';
            this.loading = false;
          })
          .catch(() => {
            this.snackbar = true;
            this.snackbarColor = "red";
            //if (error.response.data.status == "error") this.myText = "Bu nömrəli istifadəçi mövcuddur"
            this.loading = false;
          });
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.surname = "";
      this.phone = "";
      this.email = "";
      this.select = "50";
      this.date = "";
    },
    deleteUser() {
      apiService
        .deleteUser(this.userId)
        .then(() => {
          this.$router.go();
          localStorage.removeItem("token");
          localStorage.removeItem("isAdmin");
          localStorage.removeItem("user");
        })
        .catch(() => {});
    }
  },
  mounted() {
    this.updateMainTitle("Profilim");
    this.provaiderCode = provaiderCode;
    apiService
      .getUserData(JSON.parse(localStorage.getItem("user")).id)
      .then(response => {
        this.name = response.data.user.name;
        this.surname = response.data.user.surname;
        this.email = response.data.user.email;
        this.gender = response.data.user.gender;
        this.code = response.data.user.phoneNumber.slice(0, 4);
        this.select = response.data.user.phoneNumber.slice(4, 6);
        this.phone = response.data.user.phoneNumber.slice(7);
        this.date = response.data.user.birthDate;
        this.userId = response.data.user.id;
        this.loading = false;
      });
  }
};
</script>