<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3 class="pa-5" style="margin-top: 100px">
      <form class="pa-2" @submit="signIn()" onSubmit="return false;">
        <v-layout class="mt-10">
          <v-flex xs3>
            <v-text-field v-model="code" label="+994" disabled solo background-color="grey lighten-2" ></v-text-field>
          </v-flex>
          <v-flex xs3 class="mx-2">
            <v-select
              v-model="select"
              :items="provaiderCode"
              :rules="[v => !!v || 'Item is required']"
              required
              solo
              background-color="grey lighten-2"
            ></v-select>
          </v-flex>
          <v-flex xs6>
            <v-text-field
              v-mask="mask"
              v-model="phone"
              :error-messages="phoneErrors"
              label="Nömrə"
              required
              solo
              @input="$v.phone.$touch()"
              @blur="$v.phone.$touch()"
              background-color="grey lighten-2"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-text-field
          :type="show1 ? 'text' : 'password'"
          @click:append="show1 = !show1"
          solo
          :append-icon="show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
          v-model="password"
          :error-messages="passwordErrors"
          label="Parol"
          required
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
              background-color="grey lighten-2"

        ></v-text-field>
        <v-scroll-y-transition>
          <v-btn
            type="submit"
            v-if="formIsValid"
            :loading="loading"
            class="my-gradient"
            block
            dark
          >Daxil ol</v-btn>
        </v-scroll-y-transition>
        <p class="text-right mt-2 mr-3" text @click="updateLogOrReg(false)">Qeydiyyat</p>
      </form>
      <v-snackbar v-model="snackbar" top right :timeout="timeout" color="error">
        {{ myerror }}
        <v-btn color="white" text @click="snackbar = false">X</v-btn>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
import { mask } from "vue-the-mask";
import { APIService } from "@/APIService";
import { provaiderCode } from "@/variables.js";
import { mapState, mapActions } from "vuex";

const apiService = new APIService();

export default {
  name: "signin",
  directives: {
    mask
  },
  mixins: [validationMixin],

  validations: {
    name: { required },
    surname: { required },
    phone: { required },
    password: { required, minLength: minLength(8) },
    email: { required, email },
    checkbox: {
      checked(val) {
        return val;
      }
    }
  },
  data() {
    return {
      snackbar: false,
      timeout: 6000,
      myerror: "Şəbəkə xətası",
      loading: false,
      mask: "###-##-##",
      code: "",
      show1: false,
      select: "50",
      password: "",
      phone: "",
      provaiderCode: []
    };
  },
  methods: {
    ...mapActions(["updatelogOrReg"]),
    updateLogOrReg(updatelogOrReg) {
      this.updatelogOrReg(updatelogOrReg);
    },
    signIn() {
      this.$v.$touch();
      this.loading = true;
      if (this.formIsValid) {
        apiService
          .signIn({
            password: this.password,
            phoneNumber: "+994" + this.select + "-" + this.phone
          })
          .then(response => {
            if (response.data.status == "success") {
              localStorage.setItem(
                "user",
                JSON.stringify(response.data.data.user)
              );
              localStorage.setItem("token", response.data.data.token);
              response.data.data.user.roles.forEach(element => {
                if (element.name == "ADMIN")
                  localStorage.setItem("isAdmin", true);
              });

              window.location = "/home";
              this.loading = false;
            }
          })
          .catch(error => {
            localStorage.removeItem("token");
            localStorage.removeItem("isAdmin");
            localStorage.removeItem("user");
            this.snackbar = true;
            if (error.response.data.status == "error")
              this.myerror = "Şifrə və ya nömrə səhvi";
            this.loading = false;
          });
      }
    }
  },
  created() {
    this.provaiderCode = provaiderCode;
  },
  computed: {
    ...mapState(["logOrReg"]),
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.required && errors.push("Phone is required.");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required.");
      return errors;
    },
    formIsValid() {
      return this.phone.length == 9 && this.password.length >= 1;
    }
  }
};
</script>